:host(app-maintenance-update-category){
    width: 100%;
}

img{
    object-fit: contain;
    min-height: 10rem;
    max-height: 10rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}