<div class="container">
    <div class="">
        <app-label labelFor="maintenanceCategory" labelInput="Maintenance Category" labelType="label" [isMandatory]="true"></app-label>
        <app-textbox inputID="maintenanceCategory" [value]="dataCategory['Category Name']" [isReadOnly]="true"></app-textbox>
    </div>
    <div class="mt-2">
        <app-label labelType="label"  labelFor="maintenanceDetail" labelInput="Maintenance Detail" [isMandatory]="true"></app-label>
        <app-textarea inputID="maintenanceDetail" [value]="data['Maintenance Detail']" (onChangeEvent)="data['Maintenance Detail']=$event"></app-textarea>
    </div>
    <div class="container d-flex justify-content-center mt-4">
        <app-button class="me-3" buttonClass="primary" buttonLabel="Submit" (onClickEvent)="onButtonSubmit()"></app-button>
    </div>
</div>