<div class="container-fluid">
    <ng-container *ngIf="flagNoCart; else list">
        <div class="d-flex justify-content-center align-items-center" style="height: 10rem;">
            <app-label labelInput="Cart is Empty!"></app-label>
        </div>
    </ng-container>

    <ng-template #list>
        <ng-container *ngFor="let item of cartList">
            <div class="row border-bottom mx-4" style="height: 80px;">
                <div class="col-2 row py-2">
                    <img class="rounded w-100" [src]="item.productImage" alt="" style="object-fit: cover; height: 60px;">
                </div>
                <div class="col-9 row py-2">
                    <div class="col-1">
                        <app-label [labelInput]="item.quantity + 'x'"
                            style="font-weight: 600; font-size: 1rem;"></app-label>
                    </div>
                    <div class="col row">
                        <app-label [labelInput]="item.productName"
                            style="font-weight: 600; font-size: 1rem;"></app-label>
                        <ng-container *ngIf="item.notes != null && item.notes !=''">
                            <span class="text-secondary mb-2" style="font-size: 12px;"><span class="fw-semibold">Notes:
                                </span>{{item.notes}}</span>
                        </ng-container>
                    </div>
                </div>
                <div class="col-1 row py-2">
                    <app-label [labelInput]="item.totalPrice" style="font-weight: 600; font-size: 1rem;"></app-label>
                </div>
            </div>
        </ng-container>

        <div class="d-flex row rounded mx-3 ps-3 pe-4 pt-2 mb-2">
            <div class="d-flex justify-content-between pe-3">
                <app-label labelInput="Total" style="font-weight: 600; font-size: 1rem;"></app-label>
                <p class="fs-6 fw-bold pe-2">Rp {{subtotal}}</p>
            </div>
        </div>

        <!-- <div class="row mb-2 px-4">
            <app-label labelType="label" labelFor="uploadImage" labelInput="Payment Proof" [isMandatory]="true"></app-label>
            <div class="d-flex justify-content-center w-100">
                <app-attachment-image attachmentID="uploadImage" previewWidth="20vw" (onChangeEvent)="paymentProof=$event" style="width: 75%;"></app-attachment-image>
            </div>
        </div> -->

        <div class="d-flex justify-content-center my-3">
            <app-button buttonLabel="Order Now" (onClickEvent)="onCheckoutCart()"
                (onSubmitEvent)="ngOnInit()"></app-button>
        </div>
    </ng-template>
</div>