:host(app-auth){
    height: 30rem;
    border-radius: 1rem;
    margin-left: 5rem;
}

.input-group{
    font-size: 14pt;
}

:enabled:focus {
    box-shadow: none;
    border-color: var(--primary-purple);
}

::placeholder {
    color: var(--cool-light);
    font-size: 0.9rem!important;
}

:disabled {
    color: var(--cool-dark);
    background-color: var(--cool-lightest);
}

.invalid:not(:disabled) {
    border-color: var(--red) !important;
}