<div class="container-fluid">
    <!-- Admin -->
    <ng-container *ngIf="user.role=='Admin'">
        <div class="row mb-3">
            <app-label labelInput="Apartment" labelType="title"></app-label>
            <app-label labelInput="Manage all apartments" labelType="label"></app-label>
        </div>
        <div class="list-apartment mb-3 shadow-sm border p-3 mt-4" style="border-radius: 2vh;">
            <div class="pb-2">
                <app-table [dataTable]="tableApartment" [columns]="colApartment" headerAlignment="center" 
                    iconStart="bi bi-eye-fill" label="View" type="primary" actionToggle="modal"
                    actionTarget="modalApartmentDetail" (onClickActionEvent)="onListItemClick('apartment', $event)" 
                    [length]="allDataApartment" [pageIndex]="pageApartment" [pageSize]="sizeApartment" (onPageIndexEvent)="onLoadData('list', $event)" (onSearchEvent)="onSearchData('apartment',$event)" [errorMsg]="errorMsgApartment"></app-table>
            </div>
        </div>
    </ng-container>
    
    <ng-container *ngIf="user.role=='Management'">
        <div class="row mb-3">
            <app-label labelInput="Unit" labelType="title"></app-label>
            <app-label labelInput="Manage all units" labelType="label"></app-label>
        </div>
        <div class="list-apartment mb-3 shadow-sm border p-3 mt-4" style="border-radius: 2vh;">
            <div class="d-flex justify-content-end align-items-center subtitle">
                <!-- <app-label labelInput="Unit" labelType="title"></app-label> -->
                <app-button buttonLabel="+ Add Unit" data-bs-toggle="modal" data-bs-target="#modalUnitAdd"></app-button>
            </div>
            <div class="pb-2">
                <app-table [dataTable]="tableUnit" [columns]="colUnit" headerAlignment="center" 
                    iconStart="bi bi-eye-fill" label="View" type="primary" actionToggle="modal"
                    actionTarget="modalUnitDetail" (onClickActionEvent)="onListItemClick('unit', $event)" 
                    [length]="allDataUnit" [pageIndex]="pageUnit" [pageSize]="sizeApartment" (onPageIndexEvent)="onLoadData('unit', $event)" (onSearchEvent)="onSearchData('unit', $event)" [errorMsg]="errorMsgUnit"></app-table>
            </div>
        </div>
    </ng-container>
</div>

<!-- Modal -->
<app-modal modalID="modalApartmentDetail" [width]="600" [modalContent]="modalApartmentDetail"></app-modal>
    
<ng-template #modalApartmentDetail>
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Apartment Detail</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModalApartment></button>
    </div>
    <div class="modal-body d-flex col justify-content-center">
        <div class="container">
            <app-apartment-detail [data]="dataApartment" (onSubmitEvent)="redirect('apartment')"></app-apartment-detail>
        </div>
    </div>
</ng-template>

<!-- Modal -->
<app-modal modalID="modalUnitAdd" [width]="600" [modalContent]="modalUnitAdd"></app-modal>
    
<ng-template #modalUnitAdd>
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Unit</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModalUnitAdd></button>
    </div>
    <div class="modal-body d-flex col justify-content-center">
        <div class="container">
            <app-unit-add (onSubmitEvent)="redirect('add')"></app-unit-add>
        </div>
    </div>
</ng-template>

<!-- Modal -->
<app-modal modalID="modalUnitDetail" [width]="600" [modalContent]="modalUnitDetail"></app-modal>
    
<ng-template #modalUnitDetail>
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Unit Detail</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModalUnit></button>
    </div>
    <div class="modal-body d-flex col justify-content-center">
        <div class="container">
            <app-unit-detail [data]="dataUnit" (onSubmitEvent)="redirect('unit')"></app-unit-detail>
        </div>
    </div>
</ng-template>