<div class="accordion" id="active-transaction">
    <div class="accordion-item mb-3">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div class="header-button w-100">
                    <div class="row">
                        <h6 class="col">Bakmi Gading Permai</h6>
                        <div class="col-2 d-flex justify-content-end">
                            <app-badge badgeText="On Delivery" badgeType="warning"></app-badge>
                        </div>
                    </div>
                    <span>Order Time: 11:20</span>
                </div>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#active-transaction">
            <div class="accordion-body">
                <div class="row mb-2">
                    <div class="order-detail ms-3 w-50">
                        <h6>Order Detail :</h6>
                        <div class="row ms-2 mb-2">
                            <div class="col-1">
                                <span class="">1x</span>
                            </div>
                            <div class="col">
                                <span class="">Bakmi Ujung Pandang</span>
                            </div>
                            <div class="col-2 text-end">
                                <span class="">Rp. 45.000</span>
                            </div>
                        </div>
                        <div class="row ms-2 mb-2">
                            <div class="col-1">
                                <span class="">1x</span>
                            </div>
                            <div class="col">
                                <span class="">Nasi Goreng Makassar</span>
                            </div>
                            <div class="col-2 text-end">
                                <span class="">Rp. 53.000</span>
                            </div>
                        </div>
                    </div>
                    <div class="ms-3 w-50">
                        <div class="row mb-2">
                            <div class="col">
                                <h6 class="">Total :</h6>
                            </div>
                            <div class="col-3 text-end">
                                <h6 class="">Rp. 98.000</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>