:host(app-facility-category){
    width: 100%;
}

.card{
    display: flex;
    /* width: 20rem; */
    height: 10rem;
    /* justify-content: center; */
    align-items: center;
    border-radius: 10px;
    border: 0.1rem;
    box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.1);
    padding: 0 !important;
}

.card:hover{
    border: 0.1rem solid rgba(80, 37, 250, 0.5);
    box-shadow: 0 0.15rem 0.3rem rgba(80, 37, 250, 0.2);
}

img{
    object-fit: fill;
    min-height: 6rem;
    max-height: 6rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title{
    height: 3rem;
    /* padding-top: 0.6rem;
    padding-bottom: 0.6rem; */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.facility-category {
    border-radius: 2vh;
    height: 15rem;
}

.facility-category::-webkit-scrollbar{
    width: 1.5rem;
}

.facility-category::-webkit-scrollbar-track {
    background-color: transparent;
}

.facility-category::-webkit-scrollbar-thumb {
    background-color: var(--cool-lightest);
    border-radius: 20px;
    border: 5px solid transparent;
    background-clip: content-box;
}