<div class="facility-category d-flex w-100 overflow-auto p-1">
    <div class="category-card me-3">
        <button class="card justify-content-between" (click)="onCategoryClick()">
            <img class="card-img-top" src="assets/facility/basketball.jpeg" alt="...">
            <div class="card-title w-100">
              <h5>Basketball</h5>
            </div>
        </button>
    </div>
    <div class="category-card me-3">
        <button class="card justify-content-between" (click)="onCategoryClick()">
            <img class="card-img-top" src="assets/facility/swimming-pool.jpg" alt="...">
            <div class="card-title w-100">
              <h5>Swimming Pool</h5>
            </div>
        </button>
    </div>
    <div class="category-card me-3">
        <button class="card justify-content-between" (click)="onCategoryClick()">
            <img class="card-img-top" src="assets/facility/tennis.jpg" alt="...">
            <div class="card-title mt-2 mb-1 w-100">
                <h5>Tennis</h5>
            </div>
        </button>
    </div>
    <div class="category-card me-3">
        <button class="card justify-content-between" (click)="onCategoryClick()">
            <img class="card-img-top" src="assets/facility/Electricity.png" alt="...">
            <div class="card-title mt-2 mb-1 w-100">
                <h5>Electricity</h5>
            </div>
        </button>
    </div>
    <div class="category-card me-3">
        <button class="card justify-content-between" (click)="onCategoryClick()">
            <img class="card-img-top" src="assets/general/LOGO.svg" alt="...">
            <div class="card-title mt-2 mb-1 w-100">
              <h5>Water</h5>
            </div>
        </button>
    </div>
</div>