<ng-container *ngIf="isGuest==true; else home">
    <div style="position: absolute; top: 37rem; left: 13rem;">
        <app-button buttonLabel="Register"></app-button>
    </div>
    <div class="d-flex justify-content-center">
        <img src="assets/general/landing-page.png" width="90%" alt="">
    </div>
</ng-container>

<ng-template #home>
<div class="container-fluid">
    <!-- Admin -->
    <ng-container *ngIf="user.role=='Admin'">
        <div class="justify-content-center">
            <div class="row d-flex">
                <div class="row stats">
                    <div class="mx-3 mt-3 mb-3">
                        <app-label labelInput="User Statistics" labelType="title"></app-label>
                    </div>

                    <div class="p-3 col-4 justify-content-center align-items-center">
                        <button class="card-user-stats card justify-content-center w-100"
                            (click)="goToFeaturePage('apartment')">
                            <div class="d-flex w-100 justify-content-centers">
                                <div class="col-4 d-flex justify-content-center align-items-center">
                                    <img class="" src="assets/icon/category/apartment.png" alt="...">
                                </div>
                                <div class="col-8 d-flex justify-content-center">
                                    <div class="row">
                                        <h6 style="font-weight: 600;" class="fs-4 mb-2">Total Apartments</h6>
                                        <h4 style="font-weight: 650;" class="fs-2 mt-2">{{ apartmentCount }}</h4>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>

                    <div class="p-3 col-4 justify-content-center align-items-center">
                        <button class="card-user-stats card justify-content-center w-100"
                            (click)="goToFeaturePage('resident')">
                            <div class="d-flex w-100 justify-content-centers">
                                <div class="col-4 d-flex justify-content-center align-items-center">
                                    <img class="" src="assets/icon/category/resident.png" alt="...">
                                </div>
                                <div class="col-8 d-flex justify-content-center">
                                    <div class="row">
                                        <h6 style="font-weight: 600;" class="fs-4 mb-2">Total Residents</h6>
                                        <h4 style="font-weight: 650;" class="fs-2 mt-2">{{ residentCount }}</h4>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>

                    <div class="p-3 col-4 justify-content-center align-items-center">
                        <button class="card-user-stats card justify-content-center w-100"
                            (click)="goToFeaturePage('merchant')">
                            <div class="d-flex w-100 justify-content-centers">
                                <div class="col-4 d-flex justify-content-center align-items-center">
                                    <img class="" src="assets/icon/category/merchant.png" alt="...">
                                </div>
                                <div class="col-8 d-flex justify-content-center">
                                    <div class="row">
                                        <h6 style="font-weight: 600;" class="fs-4 mb-2">Total Merchants</h6>
                                        <h4 style="font-weight: 650;" class="fs-2 mt-2">{{ merchantCount }}</h4>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>

                <div class="row need-approval">
                    <div class="mx-3 mt-3">
                        <app-label labelInput="Apartment Need Approval" labelType="title"></app-label>
                    </div>
                    <app-apartment-need-approval></app-apartment-need-approval>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Management -->
    <ng-container *ngIf="user.role=='Management'">
        <div class="justify-content-center">
            <div class="row d-flex">
                <div class="mx-2 mt-3 mb-3">
                    <app-label labelInput="Apartment Mediterania" labelType="title"></app-label>
                </div>

                <div class="left col-8">
                    <!-- Stats -->
                    <div class="row stats">
                        <div class="p-3 col-6 justify-content-center align-items-center">
                            <button class="card-user-stats card justify-content-center w-100"
                                (click)="goToFeaturePage('resident')">
                                <div class="d-flex w-100 justify-content-centers">
                                    <div class="col-4 d-flex justify-content-center align-items-center">
                                        <img class="" src="assets/icon/category/resident.png" alt="...">
                                    </div>
                                    <div class="col-8 d-flex justify-content-center">
                                        <div class="row">
                                            <h6 style="font-weight: 600;" class="fs-4 mb-2">Total Residents</h6>
                                            <h4 style="font-weight: 650;" class="fs-2 mt-2">{{ residentCount }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="p-3 col-6 justify-content-center align-items-center">
                            <button class="card-user-stats card justify-content-center w-100"
                                (click)="goToFeaturePage('merchant')">
                                <div class="d-flex w-100 justify-content-centers">
                                    <div class="col-4 d-flex justify-content-center align-items-center">
                                        <img class="" src="assets/icon/category/merchant.png" alt="...">
                                    </div>
                                    <div class="col-8 d-flex justify-content-center">
                                        <div class="row">
                                            <h6 style="font-weight: 600;" class="fs-4 mb-2">Total Merchants</h6>
                                            <h4 style="font-weight: 650;" class="fs-2 mt-2">{{ merchantCount }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>

                    <!-- Feature -->
                    <div class="mx-2 mt-3 mb-3">
                        <app-label labelInput="Shortcut" labelType="title"></app-label>
                    </div>
                    <div class="row feature">
                        <div class="p-3 col-4">
                            <button class="card justify-content-between w-100" (click)="goToFeaturePage('mailbox')">
                                <div class="row d-flex p-1">
                                    <img class="mt-4 card-img-top" src="assets/icon/category/mailbox.png" alt="...">
                                    <h5 style="font-weight: 640;" class="mt-4 fs-5"><i
                                            class="bi bi-plus-circle me-2"></i>Add Mailbox</h5>
                                </div>
                            </button>
                        </div>
                        <div class="p-3 col-4">
                            <button class="card justify-content-between w-100" (click)="goToFeaturePage('billing')">
                                <div class="row d-flex p-1">
                                    <img class="mt-4 card-img-top" src="assets/icon/category/billing.png" alt="...">
                                    <h5 style="font-weight: 640;" class="mt-4 fs-5"><i
                                            class="bi bi-plus-circle me-2"></i>Add Bills</h5>
                                </div>
                            </button>
                        </div>
                        <div class="p-3 col-4">
                            <button class="card justify-content-between w-100" (click)="goToFeaturePage('facility')">
                                <div class="row d-flex p-1">
                                    <img class="mt-4 card-img-top" src="assets/icon/category/facility.png" alt="...">
                                    <h5 style="font-weight: 640;" class="mt-4 fs-5"><i
                                            class="bi bi-plus-circle me-2"></i>Add Announcement</h5>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Need Approval -->
                <div class="upcoming right col-4 shadow-sm p-2 mt-2" style="border-radius: 2vh;">
                    <div class="mx-2 mt-2 mb-2">
                        <app-label labelInput="Need Approval" labelType="title"></app-label>
                        <div class="d-grid d-md-flex justify-content-md-end">
                            <button
                                [ngClass]="latestApproval == 'resident' ? 'btn btn-dark active rounded-pill px-2 fw-semibold mx-1' : 'btn btn-light rounded-pill px-2 mx-1'"
                                (click)="showLatestApproval('resident')" style="font-size: 13px;">Resident</button>
                            <button
                                [ngClass]="latestApproval == 'merchant' ? 'btn btn-dark active rounded-pill px-2 fw-semibold mx-1' : 'btn btn-light rounded-pill px-2 mx-1'"
                                (click)="showLatestApproval('merchant')" style="font-size: 13px;">Merchant</button>
                            <button
                                [ngClass]="latestApproval == 'billing' ? 'btn btn-dark active rounded-pill px-2 fw-semibold mx-1' : 'btn btn-light rounded-pill px-2 mx-1'"
                                (click)="showLatestApproval('billing')" style="font-size: 13px;">Billing</button>
                        </div>
                    </div>

                    <div *ngIf="latestApproval === 'resident'">
                        <app-resident-need-approval></app-resident-need-approval>
                    </div>
                    
                    <div *ngIf="latestApproval === 'merchant'">
                        <app-merchant-need-approval></app-merchant-need-approval>
                    </div>

                    <div *ngIf="latestApproval === 'billing'">
                        <app-billing-verify></app-billing-verify>
                    </div>
                </div>

                <!-- Latest Request -->
                <div class="mx-2 mt-3 mb-3">
                    <div class="d-flex mt-2 mx-3">
                        <app-label labelInput="Latest Request" labelType="title"></app-label>
                        <div class="filter mx-3">
                            <button
                                [ngClass]="latestRequest == 'maintenance' ? 'btn btn-dark mx-1 my-1 active rounded-pill fw-semibold px-2' : 'btn btn-light mx-1 my-1 rounded-pill'"
                                (click)="showLatestRequest('maintenance')">Maintenance</button>
                            <button
                                [ngClass]="latestRequest == 'facility' ? 'btn btn-dark mx-1 my-1 active rounded-pill fw-semibold px-2' : 'btn btn-light mx-1 my-1 rounded-pill'"
                                (click)="showLatestRequest('facility')">Facility</button>
                        </div>
                    </div>
                    <div *ngIf="latestRequest === 'maintenance'">
                        <app-maintenance-all-request></app-maintenance-all-request>
                    </div>

                    <div *ngIf="latestRequest === 'facility'">
                        <app-facility-all-request></app-facility-all-request>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Resident -->
    <ng-container *ngIf="user.role=='Resident'">
        <div class="justify-content-center">
            <div class="row d-flex">
                <div class="left col-8">
                    <!-- Announcement -->
                    <app-announcement></app-announcement>
                    
                    <!-- Stats -->
                    <div class="mx-2 mt-3">
                        <app-label labelInput="Latest Information" labelType="title"></app-label>
                    </div>
                    <div class="row">
                        <div class="p-3 col-3">
                            <button class="card justify-content-between w-100" (click)="goToFeaturePage('payment')">
                                <div class="row d-flex">
                                    <img class="mt-3 card-img-top" src="assets/icon/category/facility.png" alt="...">
                                    <div class="card-title w-100 d-flex justify-content-center">
                                        <div class="row">
                                            <h6 style="font-weight: 650;">Facility Request</h6>
                                            <h4 style="font-weight: 650;">{{ countFacility }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="p-3 col-3">
                            <button class="card justify-content-between w-100" (click)="goToFeaturePage('payment')">
                                <div class="row d-flex">
                                    <img class="mt-3 card-img-top" src="assets/icon/category/maintenance.png" alt="...">
                                    <div class="card-title w-100 d-flex justify-content-center">
                                        <div class="row">
                                            <h6 style="font-weight: 650;">Maintenance Request</h6>
                                            <h4 style="font-weight: 650;">{{ countMaintenance }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="p-3 col-3">
                            <button class="card justify-content-between w-100" (click)="goToFeaturePage('payment')">
                                <div class="row d-flex">
                                    <img class="mt-3 card-img-top" src="assets/icon/category/mailbox.png" alt="...">
                                    <div class="card-title w-100 d-flex justify-content-center">
                                        <div class="row">
                                            <h6 style="font-weight: 650;">Mailbox Received</h6>
                                            <h4 style="font-weight: 650;">{{ countMailbox }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="p-3 col-3">
                            <button class="card justify-content-between w-100" (click)="goToFeaturePage('payment')">
                                <div class="row d-flex">
                                    <img class="mt-3 card-img-top" src="assets/icon/category/billing.png" alt="...">
                                    <div class="card-title w-100 d-flex justify-content-center">
                                        <div class="row">
                                            <h6 style="font-weight: 650;">Upcoming Bills</h6>
                                            <h4 style="font-weight: 650;">{{ countBilling }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Upcoming Events -->
                <div class="upcoming right col-4 shadow-sm p-2 mt-2" style="border-radius: 2vh;">
                    <div class="mx-2 mt-2 mb-2">
                        <app-label labelInput="Upcoming Bookings" labelType="title"></app-label>
                    </div>
                    
                    <app-facility-upcoming></app-facility-upcoming>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Merchant -->
    <ng-container *ngIf="user.role=='Merchant'">
        <div class="justify-content-center">
            <div class="row d-flex">
                <div class="left col-8">
                    <!-- Announcement -->
                    <app-announcement></app-announcement>

                    <!-- Stats -->
                    <div class="mx-2 mt-3">
                        <app-label labelInput="Your Transaction Stats" labelType="title"></app-label>
                    </div>
                    <div class="row">
                        <div class="p-3 col-3">
                            <button class="card justify-content-between w-100" (click)="goToFeaturePage('transaction')">
                                <div class="row d-flex">
                                    <img class="mt-3 card-img-top ms-2" src="assets/icon/transaction-status/pending.png"
                                        alt="...">
                                    <div class="card-title w-100 d-flex justify-content-center">
                                        <div class="row">
                                            <h6 style="font-weight: 650;">Pending</h6>
                                            <h4 style="font-weight: 650;">{{ pendingTransaction }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="p-3 col-3">
                            <button class="card justify-content-between w-100" (click)="goToFeaturePage('transaction')">
                                <div class="row d-flex">
                                    <img class="mt-3 card-img-top" src="assets/icon/transaction-status/on-delivery.png"
                                        alt="...">
                                    <div class="card-title w-100 d-flex justify-content-center">
                                        <div class="row">
                                            <h6 style="font-weight: 650;">On Delivery</h6>
                                            <h4 style="font-weight: 650;">{{ deliveryTransaction }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="p-3 col-3">
                            <button class="card justify-content-between w-100" (click)="goToFeaturePage('transaction')">
                                <div class="row d-flex">
                                    <img class="mt-3 card-img-top" src="assets/icon/transaction-status/completed.png"
                                        alt="...">
                                    <div class="card-title w-100 d-flex justify-content-center">
                                        <div class="row">
                                            <h6 style="font-weight: 650;">Completed</h6>
                                            <h4 style="font-weight: 650;">{{ completedTransaction }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="p-3 col-3">
                            <button class="card justify-content-between w-100" (click)="goToFeaturePage('transaction')">
                                <div class="row d-flex">
                                    <img class="mt-3 card-img-top"
                                        src="assets/icon/transaction-status/payment-approval.png" alt="...">
                                    <div class="card-title w-100 d-flex justify-content-center">
                                        <div class="row">
                                            <h6 style="font-weight: 650;">Payment Approval</h6>
                                            <h4 style="font-weight: 650;">{{ paymentApproval }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Information -->
                <div class="information right col-4 shadow-sm p-3" style="border-radius: 2vh;">
                    <div class="row p-4 shadow-sm border mb-4" style="border-radius: 2vh;">
                        <div class="row">
                            <div class="col">
                                <app-label labelInput="Total Income" labelType="title"></app-label>
                            </div>
                            <div class="col-4">
                                <p class="text-secondary fw-semibold text-end">{{ dateInformation }}</p>
                            </div>
                        </div>
                        <h2 class="mt-3 p-3 text-center fw-bold">Rp 1.000.000</h2>
                    </div>

                    <div class="upcoming border shadow-sm p-2" style="border-radius: 2vh;">
                        <div class="mx-2 mt-2 mb-2">
                            <app-label labelInput="Latest Transaction" labelType="title"></app-label>
                        </div>

                        <app-transaction-latest></app-transaction-latest>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
</ng-template>