<div class="container border shadow-sm p-3" style="border-radius: 2vh;">
    <div class="row">
        <app-label labelInput="Cart" labelType="title"></app-label>
    </div>

    <ng-container *ngIf="flagNoCart; else list">
        <div class="d-flex justify-content-center align-items-center" style="height: 10rem;">
            <app-label labelInput="Cart is Empty!"></app-label>
        </div>
    </ng-container>

    <ng-template #list>
        <ng-container *ngFor="let item of cartList">
            <div class="row" style="height: 120px;">
                <div class="col-3 p-3 image-cart">
                    <img class="rounded w-100" [src]="item.productImage" alt="" style="height: 100%; object-fit: cover;">
                </div>
                <div class="col-9 pt-3 pb-2 row d-flex align-items-center">
                    <h6 class="fs-6 fw-semibold text-truncate">{{item.quantity}}x {{item.productName}}</h6>
                    <ng-container *ngIf="item.notes != null && item.notes!">
                        <span class="text-secondary mb-2" style="font-size: 12px;"><span class="fw-semibold">Notes:
                            </span>{{item.notes}}</span>
                    </ng-container>
                    <div class="d-flex justify-content-between">
                        <p class="fs-6 fw-bold">{{item.totalPrice}}</p>
                        <app-text-button iconStart="bi bi-pencil-fill" label="Edit" data-bs-toggle="modal" data-bs-target="#modalCartDetail" (onClickEvent)="onCartClick(item)"></app-text-button>
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="d-flex row rounded mx-1 px-2 py-3 mb-2">
            <div class="col-1 d-flex justify-content-center ms-3 me-2">
                <app-label labelInput="Subtotal" style="font-weight: 600; font-size: 1rem;"></app-label>
            </div>
            <div class="col d-flex justify-content-end pe-4">
                <p class="fs-6 fw-bold">Rp {{subtotal}}</p>
            </div>
        </div>

        <div class="d-flex justify-content-center my-3">
            <app-button buttonLabel="Checkout" data-bs-toggle="modal" data-bs-target="#modalCheckout"></app-button>
        </div>
    </ng-template>

    <ng-template #deleteCart>
        <div class="d-flex justify-content-center mt-3">
            <app-button buttonLabel="Delete" buttonClass="danger"
                (onClickEvent)="deleteOrder()"></app-button>
        </div>
    </ng-template>

    <!-- Modal -->
    <app-modal modalID="modalCartDetail" [width]="400" [modalContent]="modalCartDetail"></app-modal>

    <ng-template #modalCartDetail>
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Product Detail</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModal></button>
        </div>
        <div class="modal-body justify-content-center">
            <ng-container *ngIf="productOpen">
                <div class="w-100">
                    <div class="d-flex justify-content-center product-img mb-2">
                        <img class="rounded" [src]="productOpen.productImage" alt="" style="width: 100%; object-fit: cover; height: 15rem">
                    </div>
                    <div class="container">
                        <div class="row mb-1">
                            <div class="col-9">
                                <app-label class="text-break" labelType="subtitle" [labelInput]="productOpen.productName"></app-label>
                            </div>
                            <div class="col text-end">
                                <app-label class="text-break" labelType="subtitle" [labelInput]="productOpen.productPrice"></app-label>
                            </div>
                        </div>
                        <app-label class="text-break" labelType="span" [labelInput]="productOpen.productDescription"></app-label>
                        <div class="my-2">
                            <app-textarea inputPlaceholder="Notes..." [value]="productOpen.notes" (onChangeEvent)="productOpen.notes=$event"></app-textarea>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <app-add-item [counter]="counterProduct" (onCounterEvent)="counterProduct=$event"></app-add-item>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="counterProduct > 0; else deleteCart">
                    <div class="d-flex justify-content-center mt-3">
                        <app-button buttonLabel="Save" (onClickEvent)="saveOrder()"></app-button>
                    </div>
                </ng-container>
                
                <ng-template #deleteCart>
                    <div class="d-flex justify-content-center mt-3">
                        <app-button buttonLabel="Delete" buttonClass="danger" (onClickEvent)="deleteOrder()"></app-button>
                    </div>
                </ng-template>
            </ng-container>
        </div>
    </ng-template>

    <!-- Modal -->
    <app-modal modalID="modalCheckout" [width]="600" [modalContent]="modalCheckout"></app-modal>

    <ng-template #modalCheckout>
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Order Summary</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModalCO></button>
        </div>
        <div class="modal-body justify-content-center">
            <app-checkout></app-checkout>
        </div>
    </ng-template>
</div>