<div class="container-fluid">
    <ng-container *ngIf="user.role=='Resident'">
        <div class="row mb-3">
            <app-label labelInput="Facility" labelType="title"></app-label>
            <app-label labelInput="Book your facility" labelType="label"></app-label>
        </div>

        <!-- Category -->
        <div class="facility-category shadow-sm border p-3 mb-5" style="border-radius: 2vh;">
            <div class="subtitle px-3 py-2">
                <app-label labelInput="Choose Your Apartment Facility" labelType="title"></app-label>
            </div>
            <app-facility-category [listCategory]="listCategory" [errorMsg]="errorListCategory" (onSubmitEvent)="ngOnInit()"></app-facility-category>
        </div>

        <!-- Facility Request History -->
        <div class="facility-list shadow-sm border p-3" style="border-radius: 2vh;">
            <div class="subtitle px-3 py-2 mb-3">
                <app-label labelInput="Request History" labelType="title"></app-label>
            </div>
            <app-facility-history></app-facility-history>
        </div>
    </ng-container>

    <!-- Management -->
    <ng-container *ngIf="user.role=='Management'">
        <div class="row mb-3">
            <div class="col-6 row">
                <app-label labelInput="Facility" labelType="title"></app-label>
                <app-label labelInput="Manage facility category & requests" labelType="label"></app-label>
            </div>
        </div>

        <div class="facility-list mb-3 shadow-sm border p-3 mt-4" style="border-radius: 2vh;">
            <div class="d-flex justify-content-between align-items-center subtitle mb-2">
                <app-label labelInput="Category" labelType="title"></app-label>
                <app-button buttonLabel="+ Add Category" data-bs-toggle="modal"
                    data-bs-target="#modalAddCategory"></app-button>
            </div>
            <app-table [dataTable]="tableCategory" [columns]="colCategory" headerAlignment="center"
                iconStart="bi bi-eye-fill" label="View" type="primary" actionToggle="modal" [filter]="false"
                actionTarget="modalViewCategory" (onClickActionEvent)="onListItemClick('category', $event)"
                [pageIndex]="pageCategory" [pageSize]="sizeCategory" [length]="allDataCategory"
                (onPageIndexEvent)="onLoadData('category', $event)" [errorMsg]="errorMsgCategory"></app-table>
        </div>

        <div class="facility-request-list mt-5 mb-3 shadow-sm border p-3 mt-4" style="border-radius: 2vh;">
            <div class="d-flex justify-content-between subtitle mb-2">
                <app-label labelInput="Resident Requests" labelType="title"></app-label>
            </div>
            <app-facility-all-request></app-facility-all-request>
        </div>

        <!-- Modal -->
        <app-modal modalID="modalAddCategory" [width]="600" [modalContent]="modalAddCategory"></app-modal>

        <ng-template #modalAddCategory>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Facility Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    #closeModalAdd></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <app-facility-add-category (onSubmitEvent)="redirect('add')"></app-facility-add-category>
            </div>
        </ng-template>

        <!-- Modal -->
        <app-modal modalID="modalViewCategory" [width]="600" [modalContent]="modalViewCategory"></app-modal>

        <ng-template #modalViewCategory>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Detail Facility Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    #closeModalUpdate></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <app-facility-update-category [data]="dataCategory"
                    (onSubmitEvent)="redirect('update')"></app-facility-update-category>
            </div>
        </ng-template>

        <!-- Modal -->
        <app-modal modalID="modalViewRequest" [width]="600" [modalContent]="modalViewRequest"></app-modal>

        <ng-template #modalViewRequest>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Detail Book Facility</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    #closeModalRequest></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <app-facility-detail-request [data]="dataRequest"
                    (onSubmitEvent)="redirect('request')"></app-facility-detail-request>
            </div>
        </ng-template>
    </ng-container>
</div>