<div class="container">
    <ng-container *ngIf="isResident">
        <div class="row mb-3">
            <app-text-button type="secondary" label="BACK" iconStart="bi bi-arrow-left" (onClickEvent)="backButton()"></app-text-button>
            <app-label labelInput="FACILITY" labelType="title"></app-label>
            <app-label labelInput="Book Facility" labelType="label"></app-label>
        </div>
        <div class="facility-category mb-4">
            <div class="subtitle mb-2">
                <app-label labelInput="CATEGORY" labelType="subtitle"></app-label>
            </div>
            <!-- <app-facility-category [listCategory]="tableCategory" [errorMsg]="errorListCategory"></app-facility-category> -->
        </div>
        <div class="facility-list">
            <div class="d-flex justify-content-between subtitle mb-2">
                <app-label labelInput="LAST BOOKING" labelType="subtitle"></app-label>
                <app-button buttonLabel="All History" (onClickEvent)="onHistoryClick()"></app-button>
            </div>
            <!-- <app-facility-list [listRequest]="tableRequest" [pagination]="false" [errorMsg]="errorListRequest"></app-facility-list> -->
        </div>
    </ng-container>

    <ng-container *ngIf="isManagement">
        <div class="row mb-3">
            <app-text-button type="secondary" label="BACK" iconStart="bi bi-arrow-left" (onClickEvent)="backButton()"></app-text-button>
            <app-label labelInput="Facility" labelType="title"></app-label>
            <app-label labelInput="Book Facility" labelType="label"></app-label>
        </div>
        <div class="facility-list">
            <div class="d-flex justify-content-between subtitle mb-2">
                <app-label labelInput="FACILITY CATEGORY" labelType="subtitle"></app-label>
                <app-button buttonLabel="Add Category" data-bs-toggle="modal" data-bs-target="#modalAddCategory"></app-button>
            </div>
            <div class="py-2">
                <app-table [dataTable]="tableCategory" [columns]="colCategory" headerAlignment="center" 
                iconStart="bi bi-eye-fill" label="View" type="primary" actionToggle="modal" 
                actionTarget="modalViewCategory" (onClickActionEvent)="onListItemClick('category', $event)" 
                [length]="allDataCategory" (onPageIndexEvent)="onLoadData('category', $event)" (onSortEvent)="onSortData('category', $event)" [errorMsg]="errorMsgCategory"></app-table>
            </div>
        </div>
        <div class="facility-request-list mt-5">
            <div class="d-flex justify-content-between subtitle mb-2">
                <app-label labelInput="LIST FACILITY REQUEST" labelType="subtitle"></app-label>
                <app-button buttonLabel="All Request" (onClickEvent)="onAllRequest()"></app-button>
            </div>
            <div class="py-2">
                <app-table [dataTable]="tableRequest" [columns]="colRequest" headerAlignment="center" 
                    iconStart="bi bi-eye-fill" label="View" type="primary" actionToggle="modal" 
                    actionTarget="modalAddCategory" (onClickActionEvent)="onListItemClick('request', $event)" 
                    [length]="allDataRequest" (onPageIndexEvent)="onLoadData('request', $event)" (onSortEvent)="onSortData('request', $event)" [errorMsg]="errorMsgRequest"></app-table>
            </div>
        </div>

        <!-- Modal -->
        <app-modal modalID="modalAddCategory" [width]="600" [modalContent]="modalContent"></app-modal>

        <ng-template #modalContent>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Facility Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModal></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <app-facility-add-category (onSubmitEvent)="onCloseModal()"></app-facility-add-category>
            </div>
        </ng-template>
    </ng-container>
</div>