<ng-container *ngIf="user.role=='Merchant'">
    <div class="container">
        <div class="row mb-3">
            <div class="col-6 row">
                <app-label labelInput="Product" labelType="title"></app-label>
                <app-label labelInput="Manage your products" labelType="label"></app-label>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-end">
                <app-button buttonClass="primary" buttonLabel="+ Add Product" data-bs-toggle="modal"
                    data-bs-target="#modalProductAdd"></app-button>
            </div>
            
        </div>
    
        <!-- Product List -->
        <div class="product-list shadow-sm border p-3 mt-4" style="border-radius: 2vh;">
            <div class="d-flex justify-content-between align-items-center subtitle mb-2">
                
            </div>
            <div class="d-flex justify-content-end mb-3">
                <div class="d-flex w-25 mb-3">
                    <app-textbox inputPlaceholder="Search..." (onChangeEvent)="keySearch=$event"></app-textbox>
                    <div class="d-flex justify-content-center align-items-center rounded ms-1" style="background-color: var(--primary-purple); height: 38px;">
                        <app-text-button iconEnd="bi bi-search" type="white" (onClickEvent)="onSearchProduct()"></app-text-button>
                    </div>
                </div>
            </div>
            <app-product-list [productList]="table"></app-product-list>

            <!-- <div class="py-2">
                <app-table [dataTable]="table" [columns]="col" headerAlignment="center" iconStart="bi bi-eye-fill"
                    label="View" type="primary" actionToggle="modal" actionTarget="modalProductDetail"
                    (onClickActionEvent)="onListItemClick('approve', $event)" [pageIndex]="page" [pageSize]="size"
                    [length]="allDataProduct" (onPageIndexEvent)="onLoadData($event)"
                    (onSearchEvent)="onSearchProduct($event)" [errorMsg]="errorMsg"></app-table>
            </div> -->
        </div>
        <!-- Modal -->
        <app-modal modalID="modalProductAdd" [width]="600" [modalContent]="modalProductAdd"></app-modal>

        <ng-template #modalProductAdd>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    #closeModalAdd></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <div class="container">
                    <app-product-add (onSubmitEvent)="redirect('add')"></app-product-add>
                </div>
            </div>
        </ng-template>

        <!-- Modal -->
        <app-modal modalID="modalProductDetail" [width]="600" [modalContent]="modalProductDetail"></app-modal>

        <ng-template #modalProductDetail>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Product Detail</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    #closeModalDetail></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <div class="container">
                    <app-product-detail [data]="dataProduct" (onSubmitEvent)="redirect('detail')"></app-product-detail>
                </div>
            </div>

        </ng-template>
    </div>
</ng-container>