<div class="container">
    <div class="row mb-3">
        <app-text-button type="secondary" label="BACK" iconStart="bi bi-arrow-left" (onClickEvent)="backButton()"></app-text-button>
    </div>

    <img [src]="announcement.image" class="d-block w-100">

    <div class="title mt-4 mb-2">
        <h4>{{ announcement.title }}</h4>
    </div>

    <div class="paragraf text-justify text-break mb-5"></div>
    <ng-container *ngIf="user.role=='Management' && announcement.status=='Active'">
        <div class="d-flex justify-content-center">
            <!-- <app-button buttonLabel="Delete" buttonClass="outline-primary"></app-button> -->
            <app-button buttonLabel="Edit" buttonClass="primary" data-bs-toggle="modal" data-bs-target="#modalEditAnnouncement" (onClickEvent)="initViewUpdate(announcement)"></app-button>
        </div>

        <!-- Modal -->
        <app-modal modalID="modalEditAnnouncement" [width]="800" [modalContent]="modalEditAnnouncement"></app-modal>
    
        <ng-template #modalEditAnnouncement>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Announcement</h1>
                <button type="button" class="btn-close" #closeModal data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <app-announcement-update [data]="announcement" (onSubmitEvent)="redirect()"></app-announcement-update>
            </div>
        </ng-template>
    </ng-container>
</div>