<ng-container *ngIf="link, else textButton">
    <a [href]="link">
        <button type="button" class="text-button text-button-{{ type }} text-button-{{ size }} {{ weight }}" [disabled]="isDisabled" (click)="onClickButton()"><i class="{{ iconStart }}"></i>{{ label }}<i class="{{ iconEnd }}"></i></button>
    </a>
</ng-container>
<ng-template #textButton>
    <button type="button" class="text-button text-button-{{ type }} text-button-{{ size }} {{ weight }}" [disabled]="isDisabled" (click)="onClickButton()"><i class="{{ iconStart }}"></i>{{ label }}<i class="{{ iconEnd }}"></i></button>
</ng-template>