<div class="container-fluid">
    <!-- Resident -->
    <ng-container *ngIf="this.role=='resident'">
        <div class="row mb-3">
            <app-label labelInput="Maintenance" labelType="title"></app-label>
            <app-label labelInput="Your Maintenance Request Information" labelType="label"></app-label>
        </div>
        
        <!-- Category -->
        <div class="maintenance-category shadow-sm border p-3 mb-5" style="border-radius: 2vh;">
            <div class="subtitle px-3 py-2 mb-3">
                <app-label labelInput="Choose Your Apartment Maintenance" labelType="title"></app-label>
            </div>
            <app-facility-category [listCategory]="listCategory" [errorMsg]="errorListCategory"></app-facility-category>
        </div>

        <!-- Maintenance Request History -->
        <div class="maintenance-list shadow-sm border p-3" style="border-radius: 2vh;">
            <div class="subtitle px-3 py-2 mb-3">
                <app-label labelInput="Request History" labelType="title"></app-label>
            </div>
            <app-maintenance-history></app-maintenance-history>
        </div>
    </ng-container>


    <!-- Management -->
    <ng-container *ngIf="this.role=='management'">
        <div class="row mb-3">
            <div class="col-6 row">
                <app-label labelInput="Maintenance" labelType="title"></app-label>
                <app-label labelInput="Manage maintenance category & requests" labelType="label"></app-label>
            </div>
        </div>

        <div class="maintenance-list mb-3 shadow-sm border p-3 mt-4" style="border-radius: 2vh;">
            <div class="d-flex justify-content-between align-items-center subtitle mb-2">
                <app-label labelInput="Category" labelType="title"></app-label>
                <app-button buttonLabel="+ Add Category" data-bs-toggle="modal"
                    data-bs-target="#modalAddCategory"></app-button>
            </div>
            <app-table [dataTable]="tableCategory" [columns]="colCategory" headerAlignment="center"
                iconStart="bi bi-eye-fill" label="View" type="primary" actionToggle="modal" [filter]="false"
                actionTarget="modalViewCategory" (onClickActionEvent)="onListItemClick('category', $event)"
                [pageIndex]="pageCategory" [pageSize]="sizeCategory" [length]="allDataCategory"
                (onPageIndexEvent)="onLoadData('category', $event)" [errorMsg]="errorMsgCategory"></app-table>
        </div>


        <!-- Maintenance Request -->
        <div class="maintenance-request-list mt-5 mb-3 shadow-sm border p-3 mt-4" style="border-radius: 2vh;">
            <div class="d-flex justify-content-between subtitle mb-2">
                <app-label labelInput="Resident Requests" labelType="title"></app-label>
            </div>
            <div class="py-2">
                <app-maintenance-all-request></app-maintenance-all-request>
            </div>
        </div>

        <!-- Modal -->
        <app-modal modalID="modalAddCategory" [width]="600" [modalContent]="modalAddCategory"></app-modal>

        <ng-template #modalAddCategory>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Maintenance Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    #closeModalAdd></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <app-maintenance-add-category (onSubmitEvent)="redirect('add')"></app-maintenance-add-category>
            </div>
        </ng-template>

        <!-- Modal -->
        <app-modal modalID="modalViewCategory" [width]="600" [modalContent]="modalViewCategory"></app-modal>

        <ng-template #modalViewCategory>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Detail Maintenance Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    #closeModalUpdate></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <app-maintenance-update-category [data]="dataCategory"
                    (onSubmitEvent)="redirect('update')"></app-maintenance-update-category>
            </div>
        </ng-template>

        <!-- Modal -->
        <app-modal modalID="modalRequestDetail" [width]="800" [modalContent]="modalRequestDetail"></app-modal>

        <ng-template #modalRequestDetail>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Maintenance Request Detail</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    #closeModalAssign></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <div class="container">
                    <app-maintenance-detail-request [data]="dataRequest"
                        (onSubmitEvent)="redirect('assign')"></app-maintenance-detail-request>
                </div>
            </div>
        </ng-template>
    </ng-container>
</div>