<div class="container">
    <div class="row mb-3">
        <app-label labelInput="Maintenance" labelType="title"></app-label>
        <app-label labelInput="Your Maintenance Request Information" labelType="label"></app-label>
    </div>


    <!-- Resident -->
    <ng-container *ngIf="user.role=='Resident'">
        <!-- <div class="maintenance-category mb-4">
            <div class="subtitle mb-2">
                <app-label labelInput="CATEGORY" labelType="subtitle"></app-label>
            </div>
            <app-maintenance-category [listCategory]="listCategory" [errorMsg]="errorListCategory"
                (onSubmitEvent)="ngOnInit()"></app-maintenance-category>
        </div> -->

        <!-- Maintenance Request History -->
        <div class="maintenance-list shadow-sm border p-3" style="border-radius: 2vh;">
            <div class="subtitle px-3 py-2 mb-3">
                <app-label labelInput="Request History" labelType="title"></app-label>
            </div>
            <app-maintenance-history></app-maintenance-history>
        </div>
    </ng-container>

    <!-- Management -->
    <ng-container *ngIf="user.role=='Management'">
        <div class="row mb-3">
            <div class="mx-2 mt-3 mb-3">
                <app-label labelInput="Manage Maintenance" labelType="title"></app-label>
            </div>
        </div>


        <!-- Modal -->
        <app-modal modalID="modalAddCategory" [width]="600" [modalContent]="modalAddCategory"></app-modal>

        <ng-template #modalAddCategory>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Maintenance Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    #closeModalAdd></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <app-maintenance-add-category (onSubmitEvent)="redirect('add')"></app-maintenance-add-category>
            </div>
        </ng-template>


        <!-- Maintenance Request -->
        <div class="maintenance-request-list my-5">
            <div class="d-flex justify-content-between align-items-center subtitle mb-2">
                <app-label labelInput="Maintenance Request" labelType="subtitle"></app-label>
                <!-- <app-button buttonLabel="View All" (onClickEvent)="goToAllMaintenancePage()"></app-button> -->
            </div>
            <div class="py-2">
                <app-maintenance-all-request></app-maintenance-all-request>
                <!-- <app-table [dataTable]="tableRequest" [columns]="colRequest" headerAlignment="center" [filter]="false"
                    iconStart="bi bi-eye-fill" label="View" type="primary" actionToggle="modal"
                    actionTarget="modalRequestDetail" (onClickActionEvent)="onListItemClick('request', $event)"
                    [pagination]="false" [errorMsg]="errorMsgRequest"></app-table> -->
            </div>
        </div>

        <!-- Modal -->
        <app-modal modalID="modalViewCategory" [width]="600" [modalContent]="modalViewCategory"></app-modal>

        <ng-template #modalViewCategory>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Detail Maintenance Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    #closeModalUpdate></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <app-maintenance-update-category [data]="dataCategory"
                    (onSubmitEvent)="redirect('update')"></app-maintenance-update-category>
            </div>
        </ng-template>

        <!-- Modal -->
        <app-modal modalID="modalRequestDetail" [width]="800" [modalContent]="modalRequestDetail"></app-modal>

        <ng-template #modalRequestDetail>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Maintenance Request Detail</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    #closeModalAssign></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <div class="container">
                    <app-maintenance-detail-request [data]="dataRequest"
                        (onSubmitEvent)="redirect('assign')"></app-maintenance-detail-request>
                </div>
            </div>
        </ng-template>
    </ng-container>
</div>