<div class="container">
    <ng-container *ngIf="this.role=='resident'">
        <div class="row mb-3">
            <app-text-button type="secondary" label="BACK" iconStart="bi bi-arrow-left" (onClickEvent)="backButton()"></app-text-button>
            <app-label labelInput="Maintenance" labelType="title"></app-label>
            <app-label labelInput="Need Service" labelType="label"></app-label>
        </div>
        <div class="maintenance-category mb-4">
            <div class="subtitle mb-2">
                <app-label labelInput="CATEGORY" labelType="subtitle"></app-label>
            </div>
            <app-maintenance-category [listCategory]="listCategory" [errorMsg]="errorListCategory" (onSubmitEvent)="ngOnInit()"></app-maintenance-category>
        </div>
        <div class="maintenance-list">
            <div class="d-flex justify-content-between subtitle mb-2">
                <app-label labelInput="LAST MAINTENANCE" labelType="subtitle"></app-label>
                <app-button buttonLabel="View All" (onClickEvent)="onHistoryClick()"></app-button>
            </div>
            <app-maintenance-list [listRequest]="listRequest" [pagination]="false" [errorMsg]="errorListRequest" (onSubmitEvent)="ngOnInit()"></app-maintenance-list>
        </div>
    </ng-container>

    <ng-container *ngIf="this.role=='management'">
        <div class="row mb-3">
            <app-text-button type="secondary" label="BACK" iconStart="bi bi-arrow-left" (onClickEvent)="backButton()"></app-text-button>
            <app-label labelInput="Maintenance" labelType="title"></app-label>
            <app-label labelInput="Need Service" labelType="label"></app-label>
        </div>
        <div class="maintenance-list">
            <div class="d-flex justify-content-between align-items-center subtitle mb-2">
                <app-label labelInput="MAINTENANCE CATEGORY" labelType="subtitle"></app-label>
                <app-button buttonLabel="Add Category" data-bs-toggle="modal" data-bs-target="#modalAddCategory"></app-button>
            </div>
            <div class="py-2">
                <app-table [dataTable]="tableCategory" [columns]="colCategory" headerAlignment="center" 
                iconStart="bi bi-eye-fill" label="View" type="primary" actionToggle="modal" 
                actionTarget="modalViewCategory" (onClickActionEvent)="onListItemClick('category', $event)" [pageIndex]="pageCategory" [pageSize]="sizeCategory"
                [length]="allDataCategory" (onPageIndexEvent)="onLoadData('category', $event)" [errorMsg]="errorMsgCategory"></app-table>
            </div>
        </div>
        <div class="maintenance-request-list my-5">
            <div class="d-flex justify-content-between align-items-center subtitle mb-2">
                <app-label labelInput="LIST MAINTENANCE REQUEST" labelType="subtitle"></app-label>
                <app-button buttonLabel="View All" (onClickEvent)="onAllRequest()"></app-button>
            </div>
            <div class="py-2">
                <app-table [dataTable]="tableRequest" [columns]="colRequest" headerAlignment="center" 
                    iconStart="bi bi-eye-fill" label="View" type="primary" actionToggle="modal" actionTarget="modalRequestDetail" 
                    (onClickActionEvent)="onListItemClick('request', $event)" [pagination]="false" [errorMsg]="errorMsgRequest"></app-table>
            </div>
        </div>

        <!-- Modal -->
        <app-modal modalID="modalAddCategory" [width]="600" [modalContent]="modalAddCategory"></app-modal>

        <ng-template #modalAddCategory>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Maintenance Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModalAdd></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <app-maintenance-add-category (onSubmitEvent)="onCloseModal('add')"></app-maintenance-add-category>
            </div>
        </ng-template>

        <!-- Modal -->
        <app-modal modalID="modalViewCategory" [width]="600" [modalContent]="modalViewCategory"></app-modal>

        <ng-template #modalViewCategory>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Detail Maintenance Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModalUpdate></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <app-maintenance-update-category [data]="dataCategory" (onSubmitEvent)="onCloseModal('update')"></app-maintenance-update-category>
            </div>
        </ng-template>

        <!-- Modal -->
        <app-modal modalID="modalRequestDetail" [width]="800" [modalContent]="modalRequestDetail"></app-modal>
    
        <ng-template #modalRequestDetail>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Maintenance Request Detail</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModalAssign></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <div class="container">
                    <app-maintenance-detail-request [data]="dataRequest" (onSubmitEvent)="onCloseModal('assign')"></app-maintenance-detail-request>
                </div>
            </div>
        </ng-template>
    </ng-container>
</div>