<div class="container">
    <app-label labelType="subtitle" [labelInput]="data['name']"></app-label>
    <div class="ms-2 mt-1">
        <div class="mb-1">
            <img class="w-100 rounded" [src]="data['image']">
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Category"></app-label>
            <app-label class="col" [labelInput]="data['category']? (': ' + data['category']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Bank Account"></app-label>
            <app-label class="col" [labelInput]="data['bankAccount']? (': ' + data['bankAccount']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Account Number"></app-label>
            <app-label class="col" [labelInput]="data['accountNumber']? (': ' + data['accountNumber']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Account Name"></app-label>
            <app-label class="col" [labelInput]="data['accountName']? (': ' + data['accountName']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Bank Account"></app-label>
            <app-label class="col" [labelInput]="data['bankAccount']? (': ' + data['bankAccount']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Address"></app-label>
            <app-label class="col" [labelInput]="data['address']? (': ' + data['address']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Approval"></app-label>
            <app-label class="col" [labelInput]="data['isApproved']? (': ' + data['isApproved']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Active"></app-label>
            <app-label class="col" [labelInput]="data['isActive']? (': ' + data['isActive']) : ': -'"></app-label>
        </div>
    </div>

    <ng-container *ngIf="data['isApproved']=='Pending'">
        <div class="border-top w-100 mt-3 pt-2">
            <div class="container d-flex justify-content-center mt-2">
                <app-button class="d-flex justify-content-center me-3" buttonClass="outline-primary" buttonLabel="Reject" (onClickEvent)="onButtonClick('approve', false)"></app-button>
                <app-button class="d-flex justify-content-center" buttonClass="primary" buttonLabel="Approve" (onClickEvent)="onButtonClick('approve', true)"></app-button>
            </div>
        </div>
    </ng-container>
    
    <ng-container *ngIf="data['isApproved']=='Approved' && data['isActive']=='Inactive'">
        <div class="border-top w-100 mt-3 pt-2">
            <div class="container d-flex justify-content-center mt-2">
                <app-button class="d-flex justify-content-center" buttonClass="primary" buttonLabel="Activate" (onClickEvent)="onButtonClick('active', true)"></app-button>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="data['isApproved']=='Approved' && data['isActive']=='Active'">
        <div class="border-top w-100 mt-3 pt-2">
            <div class="container d-flex justify-content-center mt-2">
                <app-button class="d-flex justify-content-center" buttonClass="primary" buttonLabel="Deactive" (onClickEvent)="onButtonClick('active', false)"></app-button>
            </div>
        </div>
    </ng-container>
</div>