<div class="container">
    <div class="row mb-3">
        <app-text-button type="secondary" label="BACK" iconStart="bi bi-arrow-left" (onClickEvent)="backButton()"></app-text-button>
        <app-label labelInput="NOTIFICATION" labelType="title"></app-label>
        <app-label labelInput="Newest Information" labelType="label"></app-label>
    </div>
    <div class="accordion" id="mailboxParent">
        <div class="accordion-item mb-3">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="header-button w-100">
                        <div class="row">
                            <h6 class="col">REMINDER!</h6>
                            <div class="col-2 d-flex justify-content-end">
                                <span>18.01</span>
                            </div>
                        </div>
                        <app-label labelType="span" labelInput="Kepada seluruh, penghuni diingatkan kembali untuk membayar biaya/tagihan sebelum tanggal jatuh tempo yang tertera"></app-label>
                    </div>
                </button>
            </h2>
            <!-- <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#mailboxParent">
                <div class="accordion-body">
                </div>
            </div> -->
        </div>
        <div class="accordion-item mb-3">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <div class="header-button w-100">
                        <div class="row">
                            <h6 class="col">JADWAL PEMADAMAN</h6>
                            <div class="col-2 d-flex justify-content-end">
                                <span>17.31</span>
                            </div>
                        </div>
                        <span>Kepada seluruh penghuni, diinformasikan bahwa besok 17 Agustus 2024 akan diadakan pemadaman air Tower A selama masa perbaikan berlangsung</span>
                    </div>
                </button>
            </h2>
            <!-- <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#mailboxParent">
                <div class="accordion-body">
                </div>
            </div> -->
        </div>
    </div>
</div>