<div class="container">
    <div class="ms-2 mt-1">
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Apartment"></app-label>
            <app-label class="col" [labelInput]="data['apartmentName']? (': ' + data['apartmentName']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Unit Number"></app-label>
            <app-label class="col" [labelInput]="data['unitNumber']? (': ' + data['unitNumber']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Unit Type"></app-label>
            <app-label class="col" [labelInput]="data['unitType']? (': ' + data['unitType']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Resident"></app-label>
            <app-label class="col" [labelInput]="data['name']? (': ' + data['name']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Approval"></app-label>
            <app-label class="col" [labelInput]="data['isApproved']? (': ' + data['isApproved']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Status"></app-label>
            <app-label class="col" [labelInput]="data['isActive']? (': ' + data['isActive']) : ': -'"></app-label>
        </div>
    </div>

    <ng-container *ngIf="data['isActive']=='Active' && data['isApproved']=='Approved'">
        <div class="border-top w-100 mt-3 py-3">
            <div class="d-flex justify-content-center">
                <app-button class="ms-3" buttonClass="primary" buttonLabel="Deactive" (onClickEvent)="onUpdateResident(false)"></app-button>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="data['isActive']=='Inactive' && data['isApproved']=='Approved'">
        <div class="border-top w-100 mt-3 py-3">
            <div class="d-flex justify-content-center">
                <app-button class="ms-3" buttonClass="primary" buttonLabel="Activate" (onClickEvent)="onUpdateResident(true)"></app-button>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="data['isApproved']=='Pending'">
        <div class="border-top w-100 mt-3 py-3">
            <div class="d-flex justify-content-center">
                <app-button class="" buttonClass="outline-primary" buttonLabel="Reject" (onClickEvent)="onApproveResident(false)"></app-button>
                <app-button class="ms-3" buttonClass="primary" buttonLabel="Approve" (onClickEvent)="onApproveResident(true)"></app-button>
            </div>
        </div>
    </ng-container>    
</div>