<apx-chart
  [chart]="chartOptions.chart"
  [annotations]="chartOptions.annotations"
  [colors]="chartOptions.colors"
  [dataLabels]="chartOptions.dataLabels"
  [series]="chartOptions.series"
  [stroke]="chartOptions.stroke"
  [labels]="chartOptions.labels"
  [legend]="chartOptions.legend"
  [fill]="chartOptions.fill"
  [tooltip]="chartOptions.tooltip"
  [plotOptions]="chartOptions.plotOptions"
  [responsive]="chartOptions.responsive"
  [xaxis]="chartOptions.xaxis"
  [yaxis]="chartOptions.yaxis"
  [states]="chartOptions.states"
  [title]="chartOptions.title"
  [subtitle]="chartOptions.subtitle"
  [theme]="chartOptions.theme"
></apx-chart>

<!-- [chart]="chart"-
  [annotations]="annotations"
  [colors]="colors"
  [dataLabels]="dataLabels"
  [series]="series"
  [stroke]="stroke"
  [labels]="labels"
  [legend]="legend"
  [fill]="fill"
  [tooltip]="tooltip"
  [plotOptions]="plotOptions"
  [responsive]="responsive"
  [xaxis]="xaxis"
  [yaxis]="yaxis"
  [states]="states"
  [title]="title"
  [subtitle]="subtitle"
  [theme]="theme" -->