<div class="container">
    <app-label labelType="subtitle" [labelInput]="data['Maintenance Type']"></app-label>
    <div class="ms-2 mt-1">
        <div class="row mb-1">
            <app-label class="col-2" labelInput="Resident"></app-label>
            <app-label class="col" [labelInput]="data['Resident']? (': ' + data['Resident']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-2" labelInput="Status"></app-label>
            <app-label class="col" [labelInput]="data['Status']? (': ' + data['Status']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-2" labelInput="Request Date"></app-label>
            <app-label class="col" [labelInput]="data['Request Date']? (': ' + data['Request Date']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-2" labelInput="Assigned Date"></app-label>
            <app-label class="col" [labelInput]="data['Assigned Date']? (': ' + data['Assigned Date']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-2" labelInput="Assigned Name"></app-label>
            <app-label class="col" [labelInput]="data['Assigned Name']? (': ' + data['Assigned Name']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-2" labelInput="Completed Date"></app-label>
            <app-label class="col" [labelInput]="data['Completed Date']? (': ' + data['Completed Date']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-2" labelInput="Canceled Date"></app-label>
            <app-label class="col" [labelInput]="data['Canceled Date']? (': ' + data['Canceled Date']) : ': -'"></app-label>
        </div>
    </div>

    <ng-container *ngIf="flagAssign">
        <div class="border-top w-100 mt-3 pt-2">
            <app-label labelType="subtitle" labelInput="Assign"></app-label>
            <div class="mt-1">
                <app-label labelType="label" labelFor="assignedName" labelInput="Staff Name" [isMandatory]="true"></app-label>
                <app-textbox inputID="assignedName" (onChangeEvent)="data['Assigned Name']=$event"></app-textbox>
            </div>
            <div class="container d-flex justify-content-center mt-4">
                <app-button class="" buttonClass="outline-primary" buttonLabel="Cancel" (onClickEvent)="onButtonClick('cancel')"></app-button>
                <app-button class="ms-3" buttonClass="primary" buttonLabel="Assign" (onClickEvent)="onButtonAssign('assign')"></app-button>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="flagCompleted">
        <div class="border-top w-100 mt-3 pt-2">
            <div class="container d-flex justify-content-center mt-2">
                <app-button class="d-flex justify-content-center" buttonClass="primary" buttonLabel="Completed" (onClickEvent)="onButtonClick('completed')"></app-button>
            </div>
        </div>
    </ng-container>
</div>