<div class="container">
    <app-label labelType="subtitle" [labelInput]="data['receiptId'] + ' - ' + data['maintenanceCategory']"></app-label>
    <div class="ms-2 mt-1">
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Resident"></app-label>
            <app-label class="col" [labelInput]="data['residentName']? (': ' + data['residentName']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Status"></app-label>
            <app-label class="col" [labelInput]="data['status']? (': ' + data['status']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Request Date"></app-label>
            <app-label class="col" [labelInput]="data['requestDate']? (': ' + data['requestDate']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Assigned Date"></app-label>
            <app-label class="col" [labelInput]="data['assignedDate']? (': ' + data['assignedDate']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Assigned Name"></app-label>
            <app-label class="col" [labelInput]="data['assignedTo']? (': ' + data['assignedTo']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Completed Date"></app-label>
            <app-label class="col" [labelInput]="data['completedDate']? (': ' + data['completedDate']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Cancelled Date"></app-label>
            <app-label class="col" [labelInput]="data['cancelledDate']? (': ' + data['cancelledDate']) : ': -'"></app-label>
        </div>
    </div>

    <ng-container *ngIf="data['status']=='Requested'">
        <div class="border-top w-100 mt-3 pt-2">
            <app-label labelType="subtitle" labelInput="Assign"></app-label>
            <div class="mt-1">
                <app-label labelType="label" labelFor="assignedName" labelInput="Staff Name" [isMandatory]="true"></app-label>
                <app-textbox inputID="assignedName" (onChangeEvent)="data['assignedTo']=$event"></app-textbox>
            </div>
            <div class="container d-flex justify-content-center mt-4">
                <app-button class="" buttonClass="outline-primary" buttonLabel="Cancel" (onClickEvent)="onButtonClick('Cancelled')"></app-button>
                <app-button class="ms-3" buttonClass="primary" buttonLabel="Assign" (onClickEvent)="onButtonAssign('Assigned')"></app-button>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="data['status']=='Assigned'">
        <div class="border-top w-100 mt-3 pt-2">
            <div class="container d-flex justify-content-center mt-2">
                <app-button class="d-flex justify-content-center" buttonClass="primary" buttonLabel="Complete" (onClickEvent)="onButtonClick('Completed')"></app-button>
            </div>
        </div>
    </ng-container>
</div>