<div class="container">
    <div class="row mb-3">
        <app-text-button type="secondary" label="BACK" iconStart="bi bi-arrow-left" (onClickEvent)="backButton()"></app-text-button>
        <app-label labelInput="MAILBOX" labelType="title"></app-label>
        <app-label labelInput="Package Information" labelType="label"></app-label>
    </div>
    <div class="d-flex justify-content-between align-items-center subtitle mb-2">
        <app-label labelInput="LIST MAILBOX" labelType="subtitle"></app-label>
        <app-button class="me-2" buttonLabel="Add Mailbox" data-bs-toggle="modal" data-bs-target="#modalAddMailbox" (onClickEvent)="onAddMailbox()"></app-button>
    </div>
    <div class="py-2">
        <app-table [dataTable]="tableRequest" [columns]="colRequest" headerAlignment="center" 
            iconStart="bi bi-eye-fill" label="View" type="primary" actionToggle="modal" 
            actionTarget="modalRequestDetail" (onClickActionEvent)="onListItemClick($event)" 
            [length]="allDataRequest" [pageIndex]="page" (onPageIndexEvent)="onLoadData($event)" [errorMsg]="errorMsgRequest"></app-table>
    </div>
</div>

<!-- Modal -->
<app-modal modalID="modalAddMailbox" [width]="600" [modalContent]="modalAddMailbox"></app-modal>
    
<ng-template #modalAddMailbox>
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Mailbox</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModalNew></button>
    </div>
    <div class="modal-body d-flex col justify-content-center">
        <div class="container">
            <app-mailbox-add (onSubmitEvent)="onCloseModal('new')"></app-mailbox-add>
        </div>
    </div>
</ng-template>

<!-- Modal -->
<app-modal modalID="modalRequestDetail" [width]="600" [modalContent]="modalRequestDetail"></app-modal>
    
<ng-template #modalRequestDetail>
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Mailbox Detail</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModalDetail></button>
    </div>
    <div class="modal-body d-flex col justify-content-center">
        <div class="container">
            <app-mailbox-detail [data]="dataRequest" (onSubmitEvent)="onCloseModal('detail')"></app-mailbox-detail>
        </div>
    </div>
</ng-template>