<div class="row">
    <ng-container *ngFor="let item of data">
        <div class="p-3 shadow-sm">
            <div class="d-flex justify-content-between align-items-center">
                <h6>{{ item.title }}</h6>
                <span class="text-end text-secondary fw-semibold" style="font-size: 12px;">{{ item.createdDate
                    }}</span>
            </div>
            <div class="row">
                <app-label labelInput="{{ item.message }}" labelType="span"></app-label>
            </div>
        </div>
    </ng-container>
</div>