<div class="container-fluid">
    <div class="row mb-3">
        <app-label labelInput="Resident" labelType="title"></app-label>
        <app-label labelInput="Manage all residents" labelType="label"></app-label>
    </div>

    <!-- <ng-container *ngIf="user.role=='Management'">
        <div class="approval-resident mb-3 shadow-sm border p-3 mt-4" style="border-radius: 2vh;">
            <div class="d-flex align-items-center subtitle">
                <app-label labelInput="Need Approval" labelType="subtitle"></app-label>
            </div>
            <div class="pb-2">
                <app-table [dataTable]="tableResidentApproval" [columns]="colResidentApproval" headerAlignment="center" 
                    iconStart="bi bi-eye-fill" label="View" type="primary" actionToggle="modal" [filter]="false"
                    actionTarget="modalResidentDetail" (onClickActionEvent)="onListItemClick($event)" 
                    [length]="allDataResidentApproval" [pageIndex]="pageResidentApproval" [pageSize]="sizeResidentApproval" (onPageIndexEvent)="onLoadData('approval', $event)" [errorMsg]="errorMsgResidentApproval"></app-table>
            </div>
        </div>
    </ng-container> -->

    <div class="list-resident mb-3 shadow-sm border p-3 mt-4" style="border-radius: 2vh;">
        <div class="pb-2">
            <app-table [dataTable]="tableResident" [columns]="colResident" headerAlignment="center" 
                iconStart="bi bi-eye-fill" label="View" type="primary" actionToggle="modal"
                actionTarget="modalResidentDetail" (onClickActionEvent)="onListItemClick($event)" 
                [length]="allDataResident" [pageIndex]="pageResident" [pageSize]="sizeResident" (onPageIndexEvent)="onLoadData('list', $event)" (onSearchEvent)="onSearchData($event)" [errorMsg]="errorMsgResident"></app-table>
        </div>
    </div>
</div>

<!-- Modal -->
<app-modal modalID="modalResidentDetail" [width]="600" [modalContent]="modalResidentDetail"></app-modal>
    
<ng-template #modalResidentDetail>
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Resident Detail</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModalDetail></button>
    </div>
    <div class="modal-body d-flex col justify-content-center">
        <div class="container">
            <app-resident-detail [data]="dataResident" (onSubmitEvent)="redirect()"></app-resident-detail>
        </div>
    </div>
</ng-template>