<div class="container">
    <div class="row mb-3">
        <app-text-button type="secondary" label="BACK" iconStart="bi bi-arrow-left" (onClickEvent)="backButton()"></app-text-button>
        <app-label labelInput="RESIDENT" labelType="title"></app-label>
        <app-label labelInput="Resident Information" labelType="label"></app-label>
    </div>
    <ng-container *ngIf="role=='management'">
        <div class="approval-resident mb-3">
            <div class="d-flex align-items-center subtitle">
                <app-label labelInput="APPROVAL LIST" labelType="subtitle"></app-label>
            </div>
            <div class="pb-2">
                <app-table [dataTable]="tableResidentApproval" [columns]="colResidentApproval" headerAlignment="center" 
                    iconStart="bi bi-eye-fill" label="View" type="primary" actionToggle="modal" [filter]="false"
                    actionTarget="modalResidentDetail" (onClickActionEvent)="onListItemClick($event)" 
                    [length]="allDataResidentApproval" [pageIndex]="pageResidentApproval" [pageSize]="sizeResidentApproval" (onPageIndexEvent)="onLoadData('approval', $event)" [errorMsg]="errorMsgResidentApproval"></app-table>
            </div>
        </div>
    </ng-container>
    <div class="list-resident">
        <div class="d-flex align-items-center subtitle">
            <app-label labelInput="LIST RESIDENT" labelType="subtitle"></app-label>
        </div>
        <div class="pb-2">
            <app-table [dataTable]="tableResident" [columns]="colResident" headerAlignment="center" 
                iconStart="bi bi-eye-fill" label="View" type="primary" actionToggle="modal"
                actionTarget="modalResidentDetail" (onClickActionEvent)="onListItemClick($event)" 
                [length]="allDataResident" [pageIndex]="pageResident" [pageSize]="sizeResident" (onPageIndexEvent)="onLoadData('list', $event)" (onSearchEvent)="onSearchData($event)" [errorMsg]="errorMsgResident"></app-table>
        </div>
    </div>
</div>

<!-- Modal -->
<app-modal modalID="modalResidentDetail" [width]="600" [modalContent]="modalResidentDetail"></app-modal>
    
<ng-template #modalResidentDetail>
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Resident Detail</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModalDetail></button>
    </div>
    <div class="modal-body d-flex col justify-content-center">
        <div class="container">
            <app-resident-detail [data]="dataResident" (onSubmitEvent)="redirect()"></app-resident-detail>
        </div>
    </div>
</ng-template>