<ng-container *ngIf="role=='resident'">
    <ng-container *ngIf="errorMsglist==''; else noData">
        <div id="carouselAnnouncement" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <ng-container *ngFor="let item1 of listAnnouncement; let x = index">
                    <ng-container *ngIf="x==0; else default">
                        <button type="button" data-bs-target="#carouselAnnouncement" [attr.data-bs-slide-to]="x" [attr.aria-label]="'Slide ' + item1.id" class="active" aria-current="true"></button>
                    </ng-container>
                    <ng-template #default>
                        <button type="button" data-bs-target="#carouselAnnouncement" [attr.data-bs-slide-to]="x" [attr.aria-label]="'Slide ' + item1.id"></button>
                    </ng-template>
                </ng-container>
            </div>
            <div class="carousel-inner">
            <ng-container *ngFor="let item2 of listAnnouncement; let y = index">
                <ng-container *ngIf="y==0; else defaultImg">
                    <div class="carousel-item active">
                        <a [href]="'announcement/detail/' + item2.id">
                            <img [src]="item2.image" class="d-block w-100" alt="announcement">
                        </a>
                    </div>  
                </ng-container>
                <ng-template #defaultImg>
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <a [href]="'announcement/detail/' + item2.id">
                                <img [src]="item2.image" class="d-block w-100" alt="announcement">
                            </a>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselAnnouncement" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselAnnouncement" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </ng-container>
    <ng-template #noData>
        <div class="d-flex justify-content-center align-items-center border rounded shadow-sm" style="height: 20rem;">
            <p class="mb-0">{{ errorMsglist }}</p>
        </div>
    </ng-template>
</ng-container>

<ng-container *ngIf="role=='management'">
    <div class="container">
        <div class="announcement-list">
            <div class="d-flex justify-content-between align-items-center subtitle mb-2">
                <app-label labelInput="Announcement" labelType="subtitle"></app-label>
                <app-button buttonLabel="Add Announcement" buttonClass="primary" data-bs-toggle="modal" data-bs-target="#modalAddAnnouncement"></app-button>
            </div>
            <div class="py-2">
                <app-table [dataTable]="tableAnnouncement" [columns]="colAnnouncement" headerAlignment="center" 
                iconStart="bi bi-eye-fill" label="View" type="primary" (onClickActionEvent)="onListItemClick('announcement', $event)" [length]="allDataAnnouncement" 
                (onPageIndexEvent)="onLoadData('announcement', $event)" (onSortEvent)="onSortData('announcement', $event)" [errorMsg]="errorMsglist"></app-table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <app-modal modalID="modalAddAnnouncement" [width]="800" [modalContent]="modalAddAnnouncement"></app-modal>

    <ng-template #modalAddAnnouncement>
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Announcement</h1>
            <button type="button" class="btn-close" #closeModal data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex col justify-content-center">
            <app-announcement-add (onSubmitEvent)="onCloseModal()"></app-announcement-add>
        </div>
    </ng-template>
</ng-container>