:host(app-announcement){
    width: 100%;
}

img{
    border-radius: 10px !important;
}

.information-card{
    width: 26rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}