:host(app-announcement-add){
    width: 100%;
}

.content{
    border: solid 1px #d7d7d7;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    min-height: 5rem;
    max-height: 10rem;
    overflow: auto;
}

div[contenteditable="true"]:focus {
    outline: none;
    border: solid 1px var(--primary-purple);
}