<div class="container w-100 overflow-hidden">
    <div class="mt-0 pt-0">
        <app-label labelType="label"  labelFor="announcementImage" labelInput="Announcement Image" [isMandatory]="true"></app-label>
        <app-attachment-image attachmentID="announcementImage" previewWidth="20vw" (onChangeEvent)="data['image']=$event"></app-attachment-image>
    </div>
    <div class="mt-2">
        <app-label labelType="label"  labelFor="announcementTitle" labelInput="Announcement Title" [isMandatory]="true"></app-label>
        <app-textbox inputID="announcementTitle" (onChangeEvent)="data['title']=$event"></app-textbox>
    </div>
    <div class="mt-2 w-100">
        <app-label labelType="label" labelFor="announcementDetail" labelInput="Announcement Detail" [isMandatory]="true"></app-label>
        <div id="description" class="container content mb-3 w-100 description" contenteditable="true" style="font-size: 1rem;"></div>
        <!-- <app-textarea id="description" inputID="announcementDetail" (onChangeEvent)="data['description']=$event"></app-textarea> -->
    </div>
    <div class="mt-2 w-100">
        <app-label labelType="label"  labelFor="startDate" labelInput="Start Date" [isMandatory]="true"></app-label>
        <app-datepicker inputID="startDate" (onChangeEvent)="data['startDate']=$event"></app-datepicker>
    </div>
    <div class="mt-2 w-100">
        <app-label labelType="label"  labelFor="endDate" labelInput="End Date" [isMandatory]="true"></app-label>
        <app-datepicker inputID="endDate" (onChangeEvent)="data['endDate']=$event"></app-datepicker>
    </div>
    <div class="container d-flex justify-content-center py-4">
        <app-button buttonClass="primary" buttonLabel="Submit" (onClickEvent)="onButtonSubmit()"></app-button>
    </div>
</div>