<ng-container *ngIf="errorMsg!=''; else list">
    <div class="d-flex justify-content-center align-items-center" style="height: 10rem;">
        <p class="mb-0">{{ errorMsg }}</p>
    </div>
</ng-container>

<ng-template #list>
    <div class="accordion" id="mailboxParent">
        <ng-container *ngFor="let item of listRequest">
            <div class="accordion-item mb-3">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' +item.id" aria-expanded="true" aria-controls="collapseOne">
                        <div class="header-button w-100">
                            <div class="row">
                                <h6 class="col mb-0">{{ item.receiptId }} - {{item.mailboxCategory}}</h6>
                                <div class="col-2 d-flex justify-content-end">
                                    <ng-container *ngIf="item.status=='Received'">
                                        <app-badge [badgeText]="item.status" badgeType="warning"></app-badge>
                                    </ng-container>
                                    <ng-container *ngIf="item.status=='Completed'">
                                        <app-badge [badgeText]="item.status" badgeType="success"></app-badge>
                                    </ng-container>
                                </div>
                            </div>
                            <app-label labelType="span" *ngIf="item.receivedDate" [labelInput]="item.receivedDate"></app-label>
                        </div>
                    </button>
                </h2>
                <div [id]="'collapse' +item.id" class="accordion-collapse collapse" data-bs-parent="#mailboxParent">
                    <div class="accordion-body pt-0">
                        <div class="row w-50">
                            <div class="col-3">
                                <app-label labelInput="Unit"></app-label>
                            </div>
                            <div class="col">
                                <app-label *ngIf="item.residentUnit; else noData" [labelInput]="': ' + item.residentUnit"></app-label>
                            </div>
                        </div>
                        <div class="row w-50">
                            <div class="col-3">
                                <app-label labelInput="Recipient"></app-label>
                            </div>
                            <div class="col">
                                <app-label *ngIf="item.residentName; else noData" [labelInput]="': ' + item.residentName"></app-label>
                            </div>
                        </div>
                        <div class="row w-50">
                            <div class="col-3">
                                <app-label labelInput="Description"></app-label>
                            </div>
                            <div class="col">
                                <app-label *ngIf="item.description; else noData" [labelInput]="': ' + item.description"></app-label>
                            </div>
                        </div>
                        <div class="row w-50">
                            <div class="col-3">
                                <app-label labelInput="Status"></app-label>
                            </div>
                            <div class="col">
                                <app-label *ngIf="item.status; else noData" [labelInput]="': ' + item.status"></app-label>
                            </div>
                        </div>
                        <div class="row w-50">
                            <div class="col-3">
                                <app-label labelInput="Received Date"></app-label>
                            </div>
                            <div class="col">
                                <app-label *ngIf="item.receivedDate; else noData" [labelInput]="': ' + item.receivedDate"></app-label>
                            </div>
                        </div>
                        <div class="row w-50">
                            <div class="col-3">
                                <app-label labelInput="Completed Date"></app-label>
                            </div>
                            <div class="col">
                                <app-label *ngIf="item.completedDate; else noData" [labelInput]="': ' + item.completedDate"></app-label>
                            </div>
                        </div>
                        <ng-template #noData>
                            <app-label [labelInput]="': -'"></app-label>
                        </ng-template>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

    <!-- Pagination -->
    <ng-container *ngIf="pagination">
        <mat-paginator #paginator 
          (page)="onClickPageIndex($event)"
          [length]="length"
          [pageSize]="pageSize"
          [disabled]="disabled"
          [showFirstLastButtons] = "false"
          [hidePageSize]="hidePageSize"
          [pageIndex]="pageIndex"
          aria-label="Select page">
        </mat-paginator>
    </ng-container>
</ng-template>