<div class="w-100">
    <div class="accordion" id="mailboxParent">
        <div class="accordion-item mb-3">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="header-button w-100">
                        <div class="row">
                            <h6 class="col">PACKAGE</h6>
                            <div class="col-2 d-flex justify-content-end">
                                <app-badge badgeText="Received" badgeType="success"></app-badge>
                            </div>
                        </div>
                        <span>Shipment by Kurir Express</span>
                    </div>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#mailboxParent">
                <div class="accordion-body">
                    <img class="mb-3" src="assets/maintenance/gear.jpg" alt="">
                    <div class="row mb-2">
                        <div class="col-3">
                            <span class="">Received By: Kate Figueroa</span>
                        </div>
                        <div class="col-3">
                            <span class="">Arrived Date: Wednesday, 30 October 2024</span><br>
                            <span class="">Arrived Time: 17:06:37</span>
                        </div>
                        <div class="col-3">
                            <span class="">Taken Date: Wednesday, 31 October 2024</span><br>
                            <span class="">Taken Time: 10:06:37</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item mb-3">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <div class="header-button w-100">
                        <div class="row">
                            <h6 class="col">PACKAGE</h6>
                            <div class="col-2 d-flex justify-content-end">
                                <app-badge badgeText="Arrived" badgeType="warning"></app-badge>
                            </div>
                        </div>
                        <span>Shipment by Ninja Express</span>
                    </div>
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#mailboxParent">
                <div class="accordion-body">
                    <img class="mb-3" src="assets/maintenance/gear.jpg" alt="">
                    <div class="row mb-2">
                        <div class="col-3">
                            <span class="">Received By: Roy Conner</span>
                        </div>
                        <div class="col-3">
                            <span class="">Arrived Date: Saturday, 14 September 2024</span><br>
                            <span class="">Arrived Time: 14:36:37</span>
                        </div>
                        <div class="col-3">
                            <span class="">Taken Date: Saturday, 14 September 2024</span><br>
                            <span class="">Taken Time: 18:11:07</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>