<div class="container w-100">
    <div class="mt-0 pt-0">
        <app-label labelType="label"  labelFor="categoryImage" labelInput="Image" [isMandatory]="true"></app-label>
        <app-attachment-image attachmentID="categoryImage" previewWidth="20vw" [base]="data['image']" (onChangeEvent)="data['image']=$event"></app-attachment-image>
    </div>
    <div class="mt-2">
        <app-label labelType="label"  labelFor="categoryName" labelInput="Name" [isMandatory]="true"></app-label>
        <app-textbox inputID="categoryName" [value]="data['category']" (onChangeEvent)="data['category']=$event"></app-textbox>
    </div>
    <div class="mt-2">
        <app-label labelType="label"  labelFor="categoryDesc" labelInput="Description" [isMandatory]="true"></app-label>
        <app-textbox inputID="categoryDesc" [value]="data['description']" (onChangeEvent)="data['description']=$event"></app-textbox>
    </div>
    <div class="container d-flex justify-content-center py-4">
        <app-button buttonClass="primary" buttonLabel="Submit" (onClickEvent)="onButtonSubmit()"></app-button>
    </div>
</div>