<ng-container *ngIf="role=='management'">
    <div class="container">
        <div class="row mb-3">
            <app-text-button type="secondary" label="BACK" iconStart="bi bi-arrow-left" (onClickEvent)="backButton()"></app-text-button>
            <app-label labelInput="Merchant" labelType="title"></app-label>
            <app-label labelInput="Order Product" labelType="label"></app-label>
        </div>
        <div class="merchant-request-list">
            <div class="d-flex justify-content-between align-items-center subtitle mb-2">
                <app-label labelInput="LIST MERCHANT" labelType="subtitle"></app-label>
            </div>
            <div class="py-2">
                <app-table [dataTable]="tableMerchant" [columns]="colMerchant" headerAlignment="center" 
                    iconStart="bi bi-eye-fill" label="View" type="primary" actionToggle="modal" 
                    actionTarget="modalMerchantDetail" (onClickActionEvent)="onListItemClick('approve', $event)" [pageIndex]="pageMerchant" [pageSize]="sizeMerchant"
                    [length]="allDataMerchant" (onPageIndexEvent)="onLoadData($event)" (onSearchEvent)="onSearchMerchant($event)" [errorMsg]="errorMsgMerchant"></app-table>
            </div>
        </div>

        <!-- Modal -->
        <app-modal modalID="modalMerchantDetail" [width]="800" [modalContent]="modalMerchantDetail"></app-modal>
    
        <ng-template #modalMerchantDetail>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Merchant Detail</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModal></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <div class="container">
                    <app-merchant-detail [data]="dataMerchant" (onSubmitEvent)="redirect()"></app-merchant-detail>
                </div>
            </div>
        </ng-template>
    </div>
</ng-container>