<div class="merchant w-100 px-3">
    <div class="d-flex justify-content-between">
        <div class="d-flex mb-3">
            <button [ngClass]="category == '' ? 'btn filter mx-2 my-1 active' : 'btn filter mx-2 my-1'" (click)="onFilterBy('')">All</button>
            <button [ngClass]="category == 'Food and Beverage' ? 'btn filter mx-2 my-1 active' : 'btn filter mx-2 my-1'" (click)="onFilterBy('Food and Beverage')">Food and Beverage</button>
            <button [ngClass]="category == 'Store' ? 'btn filter mx-2 my-1 active' : 'btn filter mx-2 my-1'" (click)="onFilterBy('Store')">Store</button>
            <button [ngClass]="category == 'Laundry' ? 'btn filter mx-2 my-1 active' : 'btn filter mx-2 my-1'" (click)="onFilterBy('Laundry')">Laundry</button>
        </div>
        <div class="d-flex w-25 me-5">
            <app-textbox inputPlaceholder="Search..." [value]="keySearch" (onChangeEvent)="keySearch=$event"></app-textbox>
            <div class="d-flex justify-content-center align-items-center rounded ms-1" style="background-color: var(--primary-purple); height: 38px;">
                <app-text-button iconEnd="bi bi-search" type="white" (onClickEvent)="onSearchData()"></app-text-button>
            </div>
        </div>
    </div>
    <div class="merchant-card ms-1">
        <ng-container *ngIf="errorMsgMerchant==''; else noData">
            <ng-container *ngFor="let item of merchantCard">
                <button class="card ms-2 me-2 mb-3" (click)="onMerchantClick(item.merchantId)">
                    <img class="card-img-top" [src]="item.image" alt="...">
                    <div class="card-body w-100">
                        <div class="d-flex justify-content-end pb-2">
                            <app-badge [badgeText]="item.category" badgeType="primary"></app-badge>
                        </div>
                        <h5 class="card-title text-truncate">{{ item.merchantName }}</h5>
                    </div>
                </button>
            </ng-container>
        </ng-container>
        <ng-template #noData>
            <div class="d-flex justify-content-center align-items-center w-100" style="height: 20rem;">
                <p class="mb-0">{{ errorMsgMerchant }}</p>
            </div>
        </ng-template>
    </div>
</div>