<div class="container w-100">
    <div class="mt-0 pt-0">
        <app-label labelType="label"  labelFor="recipient" labelInput="Recipient" [isMandatory]="true"></app-label>
        <app-dropdown [itemDropDown]="residentList" (onDropdownEvent)="data['residentId']=$event"></app-dropdown>
    </div>
    <div class="mt-2">
        <app-label labelType="label"  labelFor="type" labelInput="Type" [isMandatory]="true"></app-label>
        <app-dropdown [itemDropDown]="mailboxCategory" (onDropdownEvent)="data['mailboxId']=$event"></app-dropdown>
    </div>
    <div class="mt-2">
        <app-label labelType="label"  labelFor="desc" labelInput="Description" [isMandatory]="true"></app-label>
        <app-textbox inputID="desc" [value]="data['description']" (onChangeEvent)="data['description']=$event"></app-textbox>
    </div>
    <div class="container d-flex justify-content-center py-4">
        <app-button buttonClass="primary" buttonLabel="Submit" (onClickEvent)="onButtonSubmit()"></app-button>
    </div>
</div>