<div class="container w-100">
    <app-label labelType="subtitle" [labelInput]="data['receiptId'] + ' - ' + data['mailboxCategory']"></app-label>
    <div class="ms-2 mt-1">
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Unit"></app-label>
            <app-label class="col" [labelInput]="data['residentUnit']? (': ' + data['residentUnit']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Recipient"></app-label>
            <app-label class="col" [labelInput]="data['residentName']? (': ' + data['residentName']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Description"></app-label>
            <app-label class="col" [labelInput]="data['description']? (': ' + data['description']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Status"></app-label>
            <app-label class="col" [labelInput]="data['status']? (': ' + data['status']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Received Date"></app-label>
            <app-label class="col" [labelInput]="data['receivedDate']? (': ' + data['receivedDate']) : ': -'"></app-label>
        </div>
        <div class="row mb-1">
            <app-label class="col-3" labelInput="Completed Date"></app-label>
            <app-label class="col" [labelInput]="data['completedDate']? (': ' + data['completedDate']) : ': -'"></app-label>
        </div>
    </div>
    <div class="container d-flex justify-content-center py-4">
        <app-button class="me-3" buttonClass="outline-primary" buttonLabel="Remind" (onClickEvent)="onRemind()"></app-button>
        <app-button buttonClass="primary" buttonLabel="Complete" (onClickEvent)="onButtonSubmit()"></app-button>
    </div>
</div>