<div class="container w-100">
    <div class="mt-0 pt-0">
        <app-label labelType="label"  labelFor="unit" labelInput="Unit"></app-label>
        <app-textbox inputID="unit" [value]="data['Resident Unit']" [isReadOnly]="true"></app-textbox>
    </div>
    <div class="mt-2">
        <app-label labelType="label"  labelFor="recipient" labelInput="Recipient"></app-label>
        <app-textbox inputID="recipient" [value]="data['Resident Name']" [isReadOnly]="true"></app-textbox>
    </div>
    <div class="mt-2">
        <app-label labelType="label"  labelFor="type" labelInput="Type"></app-label>
        <app-textbox inputID="type" [value]="data['Mailbox Category']" [isReadOnly]="true"></app-textbox>
    </div>
    <div class="mt-2">
        <app-label labelType="label"  labelFor="desc" labelInput="Description"></app-label>
        <app-textbox inputID="desc" [value]="data['Mailbox Desc']" [isReadOnly]="true"></app-textbox>
    </div>
    <div class="mt-2">
        <app-label labelType="label"  labelFor="desc" labelInput="Received Date"></app-label>
        <app-textbox inputID="desc" [value]="data['Received Date']" [isReadOnly]="true"></app-textbox>
    </div>
    <div class="mt-2">
        <app-label labelType="label"  labelFor="status" labelInput="Status"></app-label>
        <app-textbox inputID="status" [value]="data['Status']" [isReadOnly]="true"></app-textbox>
    </div>
    <div class="container d-flex justify-content-center py-4">
        <app-button buttonClass="primary" buttonLabel="Completed" (onClickEvent)="onButtonSubmit()"></app-button>
    </div>
</div>