:host(app-facility-request){
    width: 100%;
}

.choose-time {
    display: flex;
    flex-wrap: wrap;
}

.time {
    border: 0.1rem solid var(--cool-lightest);
    /* box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); */
}

.time:hover {
    border: 0.1rem solid var(--primary-purple);
    box-shadow: 0 0.125rem 0.25rem rgba(80, 37, 250, 0.2);
}

.time.active {
    border: 0.1rem solid var(--primary-purple);
    background-color: var(--primary-purple);
    color: var(--white);
}