<div class="container">
    <div class="pt-0 mt-0">
        <app-label labelFor="" labelInput="Facility Type" labelType="label" [isMandatory]="true"></app-label>
        <app-textbox inputID="maintenanceCategory" [value]="dataCategory['category']" [isReadOnly]="true"></app-textbox>
    </div>
    <div class="mt-2">
        <app-label labelType="label"  labelFor="bookDate" labelInput="Book Date" [isMandatory]="true"></app-label>
        <app-datepicker inputID="bookDate" [value]="data['reserveDate']" (onChangeEvent)="onChangeDate(dataCategory['id'], $event)"></app-datepicker>
    </div>
    <div class="mt-2">
        <app-label labelType="label"  labelFor="bookTime" labelInput="Book Time" [isMandatory]="true"></app-label>
        <div class="choose-time">
            <ng-container *ngFor="let item of dataTime">
                <ng-container *ngIf="item.isAvailable == 'Available'; else timeDisable">
                    <button [ngClass]="data['facilityTimeId'] == item.id ? 'btn time mx-2 my-1 active' : 'btn time mx-2 my-1'" (click)="onTimeClick(item.id)">{{ item.startTime + ' - ' + item.endTime }}</button>
                </ng-container>
                
                <ng-template #timeDisable>
                    <button [ngClass]="data['facilityTimeId'] == item.id ? 'btn time mx-2 my-1 active' : 'btn time mx-2 my-1'" [disabled]="true" (click)="onTimeClick(item.id)">{{ item.startTime + ' - ' + item.endTime }}</button>
                </ng-template>
            </ng-container>
        </div>
    </div>
    <div class="container d-flex justify-content-center py-4">
        <app-button class="me-3" buttonClass="primary" buttonLabel="Submit" (onClickEvent)="onButtonSubmit()"></app-button>
        </div>
</div>