<ng-container *ngIf="errorMsg!=''; else list">
    <div class="d-flex justify-content-center align-items-center" style="height: 10rem;">
        <p class="mb-0">{{ errorMsg }}</p>
    </div>
</ng-container>

<ng-template #list>
    <div class="maintenance-category d-flex w-100 overflow-auto p-1">
        <ng-container *ngFor="let item of listCategory">
            <ng-container *ngIf="item.is_active==true">
                <div class="category-card me-3">
                    <button class="card justify-content-between" data-bs-toggle="modal" data-bs-target="#modalNewRequest" (click)="onCategoryClick(item)">
                        <img class="card-img-top" [src]="item.image" alt="...">
                        <div class="card-title w-100">
                          <h5>{{ item.category }}</h5>
                        </div>
                    </button>
                </div>
            </ng-container>
        </ng-container>
    
        <!-- Modal -->
        <app-modal modalID="modalNewRequest" [width]="600" [modalContent]="modalContent"></app-modal>
    
        <ng-template #modalContent>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Request Maintenance</h1>
                <button type="button" class="btn-close" #closeModal data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <app-maintenance-request [dataCategory]="activeCategory" (onSubmitEvent)="onCloseModal()"></app-maintenance-request>
            </div>
        </ng-template>
    </div>
</ng-template>