<div class="maintenance-category d-flex w-100 overflow-auto p-1">
    <div class="category-card me-3">
        <button class="card justify-content-between" (click)="onCategoryClick()">
            <img class="card-img-top" src="assets/maintenance/Electricity.png" alt="...">
            <div class="card-title w-100">
              <h5>Electricity</h5>
            </div>
        </button>
    </div>
    <div class="category-card me-3">
        <button class="card justify-content-between" (click)="onCategoryClick()">
            <img class="card-img-top" src="assets/general/LOGO.svg" alt="...">
            <div class="card-title w-100">
              <h5>Water</h5>
            </div>
        </button>
    </div>
    <div class="category-card me-3">
        <button class="card justify-content-between" (click)="onCategoryClick()">
            <img class="card-img-top" src="assets/maintenance/gear.jpg" alt="...">
            <div class="card-title w-100">
                <h5>Facility</h5>
            </div>
        </button>
    </div>
    <div class="category-card me-3">
        <button class="card justify-content-between" (click)="onCategoryClick()">
            <img class="card-img-top" src="assets/maintenance/Electricity.png" alt="...">
            <div class="card-title w-100">
                <h5>Electricity</h5>
            </div>
        </button>
    </div>
    <div class="category-card me-3">
        <button class="card justify-content-between" (click)="onCategoryClick()">
            <img class="card-img-top" src="assets/general/LOGO.svg" alt="...">
            <div class="card-title w-100">
              <h5>Water</h5>
            </div>
        </button>
    </div>
</div>