<div class="container pb-5">
    <div class="row mb-3">
        <app-text-button type="secondary" label="BACK" iconStart="bi bi-arrow-left" (onClickEvent)="backButton()"></app-text-button>
        <app-label labelInput="MAILBOX" labelType="title"></app-label>
        <app-label labelInput="Package Information" labelType="label"></app-label>
    </div>

    <ng-container *ngIf="this.role=='resident'">
        <div class="d-flex mb-3">
            <button [ngClass]="filter == '' ? 'btn filter mx-2 my-1 active' : 'btn filter mx-2 my-1'" (click)="onFilterBy('')">All Request</button>
            <button [ngClass]="filter == 'Received' ? 'btn filter mx-2 my-1 active' : 'btn filter mx-2 my-1'" (click)="onFilterBy('Received')">Received</button>
            <button [ngClass]="filter == 'Completed' ? 'btn filter mx-2 my-1 active' : 'btn filter mx-2 my-1'" (click)="onFilterBy('Completed')">Completed</button>
        </div>
        <app-mailbox-list [listRequest]="listRequest" [length]="allListRequest" (onPageIndexEvent)="onLoadData('listRequest', $event)" (onSubmitEvent)="ngOnInit" [errorMsg]="errorListRequest"></app-mailbox-list>
    </ng-container>

    <ng-container *ngIf="this.role=='management'">
        <div class="mailbox-list">
            <div class="d-flex justify-content-between align-items-center subtitle mb-2">
                <app-label labelInput="MAILBOX CATEGORY" labelType="subtitle"></app-label>
                <app-button buttonLabel="Add Category" data-bs-toggle="modal" data-bs-target="#modalAddCategory"></app-button>
            </div>
            <div class="py-2">
                <app-table [dataTable]="tableCategory" [columns]="colCategory" headerAlignment="center" 
                iconStart="bi bi-eye-fill" label="View" type="primary" actionToggle="modal" 
                actionTarget="modalViewCategory" (onClickActionEvent)="onListItemClick('category', $event)" [pageIndex]="pageCategory" [pageSize]="sizeCategory"
                [length]="allDataCategory" (onPageIndexEvent)="onLoadData('category', $event)" (onSortEvent)="onSortData('category', $event)" [errorMsg]="errorMsgCategory"></app-table>
            </div>
        </div>
        <div class="mailbox-request-list mt-5">
            <div class="d-flex justify-content-between align-items-center subtitle mb-2">
                <app-label labelInput="LIST MAILBOX" labelType="subtitle"></app-label>
                <div>
                    <app-button class="me-2" buttonLabel="Add Mailbox" data-bs-toggle="modal" data-bs-target="#modalAddMailbox" (onClickEvent)="onAddMailbox()"></app-button>
                    <app-button buttonLabel="View All" buttonClass="outline-primary" (onClickEvent)="onAllMailbox()"></app-button>
                </div>
            </div>
            <div class="py-2">
                <app-table [dataTable]="tableRequest" [columns]="colRequest" headerAlignment="center" 
                    iconStart="bi bi-eye-fill" label="View" type="primary" actionToggle="modal" 
                    actionTarget="modalRequestDetail" (onClickActionEvent)="onListItemClick('request', $event)" 
                    [length]="allDataRequest" [pageSize]="5" [pageIndex]="pageRequest" [sort]="false" [pagination]="false" (onPageIndexEvent)="onLoadData('request', $event)" (onSortEvent)="onSortData('request', $event)" [errorMsg]="errorMsgRequest"></app-table>
            </div>
        </div>

        <!-- Modal -->
        <app-modal modalID="modalAddCategory" [width]="600" [modalContent]="modalAddCategory"></app-modal>

        <ng-template #modalAddCategory>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Mailbox Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModalAdd></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <app-mailbox-add-category (onSubmitEvent)="onCloseModal('add')"></app-mailbox-add-category>
            </div>
        </ng-template>

        <!-- Modal -->
        <app-modal modalID="modalViewCategory" [width]="600" [modalContent]="modalViewCategory"></app-modal>

        <ng-template #modalViewCategory>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Detail Mailbox Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModalUpdate></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <app-mailbox-update-category [data]="dataCategory" (onSubmitEvent)="onCloseModal('update')"></app-mailbox-update-category>
            </div>
        </ng-template>

        <!-- Modal -->
        <app-modal modalID="modalAddMailbox" [width]="600" [modalContent]="modalAddMailbox"></app-modal>
    
        <ng-template #modalAddMailbox>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Mailbox</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModalNew></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <div class="container">
                    <app-mailbox-add (onSubmitEvent)="onCloseModal('new')"></app-mailbox-add>
                </div>
            </div>
        </ng-template>

        <!-- Modal -->
        <app-modal modalID="modalRequestDetail" [width]="600" [modalContent]="modalRequestDetail"></app-modal>
    
        <ng-template #modalRequestDetail>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Mailbox Detail</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModalDetail></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <div class="container">
                    <app-mailbox-detail [data]="dataRequest" (onSubmitEvent)="onCloseModal('detail')"></app-mailbox-detail>
                </div>
            </div>
        </ng-template>
    </ng-container>
</div>