<div class="container">
    <div class="row mb-3">
        <app-text-button type="secondary" label="BACK" iconStart="bi bi-arrow-left" (onClickEvent)="backButton()"></app-text-button>
        <app-label labelInput="PAYMENT" labelType="title"></app-label>
        <app-label labelInput="Bill Information" labelType="label"></app-label>
    </div>
    <ng-container *ngIf="this.role=='resident'">
        <div class="d-flex mb-3">
            <button [ngClass]="filter == '' ? 'btn filter mx-2 my-1 active' : 'btn filter mx-2 my-1'" (click)="onFilterBy('')">All Request</button>
            <button [ngClass]="filter == 'paid' ? 'btn filter mx-2 my-1 active' : 'btn filter mx-2 my-1'" (click)="onFilterBy('paid')">Paid</button>
            <button [ngClass]="filter == 'waiting' ? 'btn filter mx-2 my-1 active' : 'btn filter mx-2 my-1'" (click)="onFilterBy('waiting')">Waiting for Payment</button>
            <button [ngClass]="filter == 'overdue' ? 'btn filter mx-2 my-1 active' : 'btn filter mx-2 my-1'" (click)="onFilterBy('overdue')">Overdue</button>
        </div>
        <app-payment-list></app-payment-list>
    </ng-container>

    <ng-container *ngIf="this.role=='management'">
        <div class="billing-list">
            <div class="d-flex justify-content-between align-items-center subtitle mb-2">
                <app-label labelInput="BILLING CATEGORY" labelType="subtitle"></app-label>
                <app-button buttonLabel="Add Category" data-bs-toggle="modal" data-bs-target="#modalAddCategory"></app-button>
            </div>
            <div class="py-2">
                <app-table [dataTable]="tableCategory" [columns]="colCategory" headerAlignment="center" 
                iconStart="bi bi-eye-fill" label="View" type="primary" actionToggle="modal" 
                actionTarget="modalViewCategory" (onClickActionEvent)="onListItemClick('category', $event)" 
                [pagination]="false" [sort]="false" [errorMsg]="errorMsgCategory"></app-table>
            </div>
        </div>
        <div class="billing-request-list mt-5">
            <div class="d-flex justify-content-between align-items-center subtitle mb-2">
                <app-label labelInput="LIST BILLING" labelType="subtitle"></app-label>
                <app-button buttonLabel="All Billing" (onClickEvent)="onAllRequest()"></app-button>
            </div>
            <div class="py-2">
                <app-table [dataTable]="tableRequest" [columns]="colRequest" headerAlignment="center" 
                    iconStart="bi bi-eye-fill" label="View" type="primary" actionToggle="modal" 
                    actionTarget="modalRequestDetail" (onClickActionEvent)="onListItemClick('request', $event)" 
                    [length]="allDataRequest" (onPageIndexEvent)="onLoadData('request', $event)" (onSortEvent)="onSortData('request', $event)" [errorMsg]="errorMsgRequest"></app-table>
            </div>
        </div>

        <!-- Modal -->
        <app-modal modalID="modalAddCategory" [width]="600" [modalContent]="modalAddCategory"></app-modal>

        <ng-template #modalAddCategory>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Billing Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModalAdd></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <app-payment-add-category (onSubmitEvent)="onCloseModal('add')"></app-payment-add-category>
            </div>
        </ng-template>

        <!-- Modal -->
        <app-modal modalID="modalViewCategory" [width]="600" [modalContent]="modalViewCategory"></app-modal>

        <ng-template #modalViewCategory>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Detail Billing Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModalUpdate></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <app-payment-update-category [data]="dataCategory" (onSubmitEvent)="onCloseModal('update')"></app-payment-update-category>
            </div>
        </ng-template>

        <!-- Modal -->
        <app-modal modalID="modalRequestDetail" [width]="800" [modalContent]="modalRequestDetail"></app-modal>
    
        <ng-template #modalRequestDetail>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Billing Detail</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModalAssign></button>
            </div>
            <div class="modal-body d-flex col justify-content-center">
                <div class="container">
                    <!-- <app-payment-detail-request [data]="dataRequest" (onUpdateRequest)="onCloseModal('assign')"></app-payment-detail-request> -->
                </div>
            </div>
        </ng-template>
    </ng-container>
</div>