<div class="py-2">
    <app-table [dataTable]="table" [columns]="col" headerAlignment="center" iconStart="bi bi-eye-fill" label="View"
        type="primary" actionToggle="modal" actionTarget="modalViewRequest" [length]="allDataCount" [pageIndex]="page"
        [pageSize]="size" prefix="#FCT00" (onClickActionEvent)="onListItemClick($event)"
        (onPageIndexEvent)="onLoadData($event)" (onSearchEvent)="onSearchData($event)"
        [errorMsg]="errorMsg"></app-table>
</div>

<!-- Modal -->
<app-modal modalID="modalViewRequest" [width]="600" [modalContent]="modalViewRequest"></app-modal>

<ng-template #modalViewRequest>
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Detail Book Facility</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModal></button>
    </div>
    <div class="modal-body d-flex col justify-content-center">
        <app-facility-detail-request [data]="dataRequest" (onSubmitEvent)="redirect()"></app-facility-detail-request>
    </div>
</ng-template>