<ng-container *ngIf="false">
    <div style="position: absolute; top: 45rem; left: 10rem;">
        <app-button buttonLabel="Register"></app-button>
    </div>
    <img src="assets/general/landing-page.png" width="100%" alt="">
</ng-container>

<!-- LOG IN -->
<div class="container">
    <app-announcement></app-announcement>     
    <ng-container *ngIf="isResident">
        <div class="mt-5">
            <app-label labelInput="YOUR INFORMATION" labelType="title"></app-label>
        </div>
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-wrap information-category w-100 p-1">
                <div class="information-card align-items-center">
                    <ng-container *ngIf="flagPayment; else noPayment">
                        <button class="card justify-content-between w-100" (click)="onCategoryInformation('payment')">
                            <img class="card-img-top mt-1" src="assets/general/1.png" alt="...">
                            <div class="card-title w-100  d-flex justify-content-center">
                                <h6 style="color: var(--dark-purple); font-weight: 700;">1</h6>
                                <h6 class="ms-1" style="color: var(--secondary-purple); font-weight: 700;">BILL TO PAY</h6>
                            </div>
                        </button>
                    </ng-container>
                    <ng-template #noPayment>
                        <div class="card w-100">
                            <h6 class="h-100 d-flex align-items-center" style="color: var(--secondary-purple); font-weight: 600;">No Bill to Pay</h6>
                        </div>
                    </ng-template>
                </div>
                <div class="information-card">
                    <ng-container *ngIf="flagMailbox; else noMailbox">
                        <button class="card justify-content-between w-100" (click)="onCategoryInformation('mailbox')">
                            <img class="card-img-top mt-1" src="assets/general/2.png" alt="...">
                            <div class="card-title w-100 d-flex justify-content-center">
                                <h6 style="color: var(--dark-purple); font-weight: 700;">2</h6>
                                <h6 class="ms-1" style="color: var(--secondary-purple); font-weight: 700;">PACKAGE ARRIVED</h6>
                            </div>
                        </button>
                    </ng-container>
                    <ng-template #noMailbox>
                        <div class="card w-100">
                            <h6 class="h-100 d-flex align-items-center" style="color: var(--secondary-purple); font-weight: 600;">Empty Mailbox</h6>
                        </div>
                    </ng-template>
                </div>
                <div class="information-card">
                    <ng-container *ngIf="flagFacility; else noBooking">
                        <button class="card justify-content-between w-100" (click)="onCategoryInformation('facility')">
                            <img class="card-img-top mt-1" src="assets/general/3.png" alt="...">
                            <div class="card-title w-100 d-flex justify-content-center">
                                <h6 style="color: var(--dark-purple); font-weight: 700;">1</h6>
                                <h6 style="color: var(--secondary-purple); font-weight: 700;">BOOKING ACTIVE</h6>
                            </div>
                        </button>
                    </ng-container>
                    <ng-template #noBooking>
                        <div class="card w-100">
                            <h6 class="h-100 d-flex align-items-center" style="color: var(--secondary-purple); font-weight: 600;">No Booking Active</h6>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Management -->
    <ng-container *ngIf="isManagement">
        
    </ng-container>
</div>
