<div class="container-fluid">
    <div class="row mb-3">
        <app-label labelInput="Transaction" labelType="title"></app-label>
        <app-label labelInput="Your transaction history" labelType="label"></app-label>
    </div>

    <div class="transaction-list shadow-sm border p-3" style="border-radius: 2vh;">
        <ng-container *ngIf="this.role=='resident'">
            <div class="d-flex mb-3">
                <button [ngClass]="filter == '' ? 'btn filter mx-2 my-1 active' : 'btn filter mx-2 my-1'"
                    (click)="onFilterBy('')">All</button>
                <button [ngClass]="filter == 'Pending' ? 'btn filter mx-2 my-1 active' : 'btn filter mx-2 my-1'"
                    (click)="onFilterBy('Pending')">Pending</button>
                <button
                    [ngClass]="filter == 'Waiting for Confirmation' ? 'btn filter mx-2 my-1 active' : 'btn filter mx-2 my-1'"
                    (click)="onFilterBy('Waiting for Confirmation')">Waiting for Confirmation</button>
                <button [ngClass]="filter == 'On Process' ? 'btn filter mx-2 my-1 active' : 'btn filter mx-2 my-1'"
                    (click)="onFilterBy('On Process')">On Process</button>
                <button [ngClass]="filter == 'On Delivery' ? 'btn filter mx-2 my-1 active' : 'btn filter mx-2 my-1'"
                    (click)="onFilterBy('On Delivery')">On Delivery</button>
                <button [ngClass]="filter == 'Completed' ? 'btn filter mx-2 my-1 active' : 'btn filter mx-2 my-1'"
                    (click)="onFilterBy('Completed')">Completed</button>
                <button [ngClass]="filter == 'Cancelled' ? 'btn filter mx-2 my-1 active' : 'btn filter mx-2 my-1'"
                    (click)="onFilterBy('Cancelled')">Cancelled</button>
            </div>
            <app-transaction-list [role]="role" [listTransaction]="listTransaction" [length]="allListTransaction"
                [pageSize]="sizeList" [pageIndex]="pageList" (onSubmitEvent)="ngOnInit()"
                (onPageIndexEvent)="onLoadData('listRequest', $event)"
                [errorMsg]="errorListTransaction"></app-transaction-list>
        </ng-container>

        <ng-container *ngIf="this.role=='merchant'">
            <div class="row justify-content-end">
                <div class="d-flex w-25 me-3 mb-3">
                    <app-textbox inputPlaceholder="Search..." (onChangeEvent)="keySearch=$event"></app-textbox>
                    <div class="d-flex justify-content-center align-items-center rounded ms-1"
                        style="background-color: var(--primary-purple); height: 38px;">
                        <app-text-button iconEnd="bi bi-search" type="white"></app-text-button>
                    </div>
                </div>
            </div>
            <app-transaction-list [role]="role" [listTransaction]="tableTransaction" [length]="allDataTransaction"
                [pageSize]="sizeTransaction" [pageIndex]="pageTransaction" (onSubmitEvent)="ngOnInit()"
                (onPageIndexEvent)="onLoadData('merchant', $event)"
                [errorMsg]="errorMsgTransaction"></app-transaction-list>
        </ng-container>
    </div>
</div>