<div class="container">
    <div class="row mb-3">
        <app-text-button type="secondary" label="BACK" iconStart="bi bi-arrow-left" (onClickEvent)="backButton()"></app-text-button>
        <app-label labelInput="FACILITY" labelType="title"></app-label>
        <app-label labelInput="Book History" labelType="label"></app-label>
    </div>
    <div class="d-flex mb-3">
        <button [ngClass]="filter == '' ? 'btn filter mx-2 my-1 active' : 'btn filter mx-2 my-1'" (click)="onFilterBy('')">All</button>
        <button [ngClass]="filter == 'Requested' ? 'btn filter mx-2 my-1 active' : 'btn filter mx-2 my-1'" (click)="onFilterBy('Requested')">Requested</button>
        <button [ngClass]="filter == 'Completed' ? 'btn filter mx-2 my-1 active' : 'btn filter mx-2 my-1'" (click)="onFilterBy('Completed')">Completed</button>
        <button [ngClass]="filter == 'Cancelled' ? 'btn filter mx-2 my-1 active' : 'btn filter mx-2 my-1'" (click)="onFilterBy('Cancelled')">Cancelled</button>
    </div>
    <app-facility-list [listRequest]="table" [length]="allDataCount" [pageSize]="size" [pageIndex]="page" (onPageIndexEvent)="onLoadData($event)" (onSubmitEvent)="ngOnInit()" [errorMsg]="errorMsg"></app-facility-list>
</div>